@use 'pix-design-tokens/typography';

.add-student-list {
  &__filters {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    padding: var(--pix-spacing-8x) var(--pix-spacing-2x);

    @extend %pix-body-s;
  }

  &__bottom-action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
    background-color: var(--pix-neutral-0);
    box-shadow: -2px 2px 9px 0 rgb(0 0 0 / 22%);

    .bottom-action-bar__information {
      display: flex;
      align-items: baseline;
      margin-left: calc(250px + 15px);

      &--candidates-selected {
        font-size: 1.125rem;
      }

      &--candidates-already-added {
        font-size: 0.875rem;
      }

      .bottom-action-bar__separator {
        align-self: center;
        width: 1px;
        height: 30px;
        margin: 0 16px;
        background: var(--pix-neutral-100);
      }
    }

    .bottom-action-bar__actions {
      display: flex;
      gap: var(--pix-spacing-4x);
    }
  }
}
