@use 'pix-design-tokens/typography';

.register-form {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-6x);
  max-width: 400px;

  &__information {
    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    text-align: center;

    @extend %pix-body-s;
  }

  &__cgu-label .link{
    display: inline;
  }

  &__cgu-error {
    color: var(--pix-error-700);
    font-size: 0.75rem;
  }
}
