@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/shadows';

.dropdown {
  position: relative;
  display: inline-block;

  &__content {
    @extend %pix-shadow-md;

    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--pix-neutral-0);
    border-radius: 4px;
  }

  &__item {
    display: flex;

    &--link {
      padding: 0;

      > button {
        font-family: fonts.$font-roboto;
        text-align: start;
        background-color: transparent;
        border: none;
      }

      > a,
      > button {
        display: flex;
        gap: var(--pix-spacing-2x);
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 12px 16px;
        color: var(--pix-neutral-500);
        font-size: 0.875rem;
        cursor: pointer;
        transition: background-color 0.1s linear;

        &:hover,
        &:active,
        &:focus {
          color: var(--pix-neutral-500);
          text-decoration: none;
          background-color: var(--pix-neutral-20);
        }

        &:focus,
        &:focus-visible {
          border-radius: 4px;
          outline: none;
          box-shadow: inset 0px 0px 0px 1.6px var(--pix-primary-500);
        }
      }
    }
  }
}
