
@use 'pix-design-tokens/typography';

.import-banner {
  &--success {
    @extend %pix-body-m;

    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    color: var(--pix-success-700);
    font-weight: var(--pix-font-medium);
  }

  &__icon {
    @extend %pix-title-xs;

    fill: var(--pix-success-700);
  }

  &__title {
    font-weight: var(--pix-font-bold);
  }

  &__link {
    text-decoration: underline;
  }

  &__message {
    display: block;
    padding-top: var(--pix-spacing-2x);
  }
}

