@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';

.import-students-page {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-10x);

  &__header {
    @extend %pix-title-m;

    display: flex;
    justify-content: space-between
  }

  &__error-panel {
    @extend %pix-shadow-xs;
    @extend %pix-body-s;

    padding: var(--pix-spacing-6x);
    color:var(--pix-error-700);
    font-weight: var(--pix-font-medium);
    text-align: left;
    background-color: var(--pix-neutral-0);
    border-radius: 8px;

    &--warning {
      color:var(--pix-warning-700);
    }

    h2 {
     @extend %pix-title-xs;

      margin-bottom: var(--pix-spacing-6x);
      color: var(--pix-neutral-900);
    }
  }

  &__error-panel-list {
    &__item {
      margin-bottom: var(--pix-spacing-2x);

      &:last-child {
        margin: 0;
      }
    }
  }

  &__type-list {
    display: flex;
    flex-direction: row;
    gap: var(--pix-spacing-8x);
    align-items: stretch;
    justify-content: center;
  }
}
