@use 'pix-design-tokens/typography';

.page-index {
  &__description {
    @extend %pix-body-s;
  }
}

.page-index-organization {
  &__title {
    @extend %pix-title-xs;

    margin: var(--pix-spacing-8x) 0 var(--pix-spacing-4x);
  }
}
