.join-request-form {
  margin-bottom: var(--pix-spacing-2x);
  font-family: $font-roboto;

  &__information {
    margin: 14px 0 24px 0;
    font-size: 0.875rem;
    text-align: center;
  }

  &__legal-information {
    max-width: 500px;
    color: var(--pix-neutral-500);
    font-size: 0.6875rem;
  }

  &__back {
    display: inline-flex;
    gap: var(--pix-spacing-1x);
    align-items: center;
    margin-top: var(--pix-spacing-4x);
    color: var(--pix-communication-dark);
    font-size: 1rem;

    svg {
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }

  &__button {
    margin-top: 8px;
    font-weight: 600;
  }

  .input-container {
    margin-bottom: 16px;
  }

  form {
    width: 300px;
    margin: auto;

    @include device-is('tablet') {
      width: 450px;
    }
  }
}
