@use 'pix-design-tokens/typography';

.statistics-page {
  &__info {
    margin-bottom: var(--pix-spacing-8x);
  }

  &__filter {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: end;
    margin-bottom: var(--pix-spacing-8x);
  }

  &__cover-rate {
    margin-bottom: var(--pix-spacing-8x);

    tbody > tr {
      &:nth-child(odd) {
        background-color: var(--pix-neutral-20);
      }
    }
  }

  &-header__date {
    @extend %pix-body-xs;
  }

  &-info__paragraph {
    @extend %pix-body-m;
  }
}
