.statistics-page__header {
  display: flex;
  gap: var(--pix-spacing-2x);
  align-items: baseline;
  margin-bottom: var(--pix-spacing-8x);
}

.statistics-page__section {
  tbody > tr {
    &:nth-child(odd) {
      background-color: var(--pix-neutral-20);
    }
  }
}
