<div class="organization-participant-list-page__header">
  <Ui::PageTitle>
    <:title>
      {{t "pages.sco-organization-participants.title" count=@participantCount}}
    </:title>
    <:tools>
      {{#if this.currentUser.isAdminInOrganization}}
        <PixButtonLink @route="authenticated.import-organization-participants" class="hide-on-mobile">
          {{t "components.organization-participants-header.import-button"}}
        </PixButtonLink>
      {{/if}}
    </:tools>
  </Ui::PageTitle>
</div>