@use 'pix-design-tokens/typography';

.oidc-association {
  &__title {
    @extend %pix-title-s;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__user-information {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-8x);
    width: 100%;
    margin-top: var(--pix-spacing-4x);
    padding: var(--pix-spacing-4x);
    background-color: var(--pix-orga-50);
    border-radius: var(--pix-spacing-2x);
  }

  &__avatar {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
    justify-items: center;
    padding: var(--pix-spacing-4x);

    svg {
      min-width: 48px;
      height: 48px;
      color: var(--pix-neutral-100);
    }

    p {
      @extend %pix-title-xs;
    }
  }

  &__user-authentication-methods {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);

    p {
      @extend %pix-body-m;
    }
  }

  &__new-authentication-method {
    width: 100%;
  }

  &__user-authentication-methods-list {
    display: flex;
    flex-direction: column;
    padding: var(--pix-spacing-6x);
    background-color: var(--pix-neutral-0);
    border-radius: var(--pix-spacing-2x);

    dd,
    dt {
      @extend %pix-body-l;
    }

    dt {
      padding: var(--pix-spacing-1x) 0;
      font-weight: 500;
    }
  }

  &__arrow {
    align-self: center;
    width: 32px;
    height: 32px;
    margin-top: var(--pix-spacing-4x);
    color: var(--pix-neutral-300);
  }

  &__action-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
    justify-content: center;
    width: 100%;
    padding-top: var(--pix-spacing-8x);
  }
}
