@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.oidc-signup-form {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin-bottom: 32px;
  padding: 25px 50px;

  @include breakpoints.device-is('desktop') {
    padding: 50px;
  }

  &__description {
    @extend %pix-body-m;

    margin: 0;
    padding-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-800);

    em {
      font-style: normal;
      font-weight: var(--pix-font-bold);
    }
  }

  &__information {
    @extend %pix-body-s;
    color: var(--pix-neutral-800);

    li {
      overflow-wrap: anywhere;
      list-style: none;
    }
  }

  &__cgu-container {
    @extend %pix-body-s;

    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);

    label {
      @extend %pix-body-s;
    }

    a {
      font-weight: var(--pix-font-bold);
      text-decoration: underline;
    }
  }

  &__error {
    margin-bottom: 20px;
  }
}
