@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.v3-candidate-certificate {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-10x);

  &__information {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);

    @include breakpoints.device-is('tablet') {
      display: grid;
      grid-template-columns: auto min-content;
      gap: var(--pix-spacing-8x);
    }
  }
}
