@use 'pix-design-tokens/typography';

.participations-section__title {
  margin: var(--pix-spacing-6x) 0 var(--pix-spacing-4x) var(--pix-spacing-2x);
}

.participations-section__subtitle {
  margin-left: var(--pix-spacing-2x);
  color: var(--pix-neutral-500);

  @extend %pix-body-s;
}
