@use 'pix-design-tokens/typography';

.delete-account-section {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-6x);
  align-items: start;

  &__content {
    color: var(--pix-neutral-500);
  }

  h2 {
    @extend %pix-title-xs;
  }

  a {
    text-decoration: underline;

    &:focus &:hover {
      color: var(--pix-primary-500);
    }
  }

  .delete-account-modal {
    width: 560px;
    border-radius: var(--pix-spacing-2x);

    &__error {
      margin-top: var(--pix-spacing-4x);
    }

    .pix-modal__header {
      align-items: center;
    }

    .pix-modal__content {
      display: flex;
      flex-direction: column;
      gap: var(--pix-spacing-2x);
    }

    .pix-modal__footer {
      display: flex;
      gap: var(--pix-spacing-2x);
      justify-content: end;
      padding-bottom: var(--pix-spacing-4x);
    }
  }
}
