@use 'pix-design-tokens/typography';

.badges-table-header {
  &__parameters {

    .pix-tooltip {
      display: block;
    }

    .pix-tooltip__trigger-element {
      display: flex;
      gap: var(--pix-spacing-2x);
      align-items: center;

      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.badges-table-body {
  &__image {
    img {
      display: block;
      width: 80px;
      height: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-1x);
  }

  &__tag {
    display: flex;
    gap: var(--pix-spacing-1x);
    align-items: center;
  }
}
