.insights {
  &__section {
    margin-bottom: 30px;
    padding: 0;
  }
}

.insights-section {
  &__title {
    display: inline-block;
    margin-bottom: var(--pix-spacing-6x);
    font-size: 1.4rem;
  }

  &__button {
    display: inline-block;
    margin: 10px 0;

    a:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.insights__section > .pix-banner-alert {
  margin-bottom: var(--pix-spacing-6x);

  ul,
  ol {
    padding-left: 1.75em;
    list-style: revert;

    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }

  li + li {
    margin-top: 0.25em;
  }
}

.insights-section-button {
  &__icon {
    margin-right: 4px;
  }
}
