/* stylelint-disable selector-class-pattern, selector-id-pattern */
@use 'pix-design-tokens/breakpoints';

.target-profile-section {
  margin-bottom: var(--pix-spacing-6x);

  &__container {
    display: flex;
    flex-direction: column;

    @include breakpoints.device-is('tablet') {
      display: grid;
      grid-template-columns: 1fr 300px;
      gap: 2rem;
    }
  }

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: var(--pix-spacing-3x);
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    background-color: var(--pix-neutral-0);
    border: 1px var(--pix-primary-100) solid;
    border-radius: var(--pix-spacing-2x);

    @include breakpoints.device-is('tablet') {
      height: 300px;
      margin-bottom: 0;
    }
  }
}

.target-profile__edit-form {
  #targetProfileName {
    margin-bottom: 24px;
  }
}

.target-profile {

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &-separator {
      width: 1px;
      background-color: var(--pix-neutral-100);
    }

    &-spacer {
      flex-grow: 1;
    }
  }
}

.bold {
  font-weight: bold;
}
