<PixAppLayout @variant="admin">
  <:navigation>
    <Layout::Sidebar />
  </:navigation>
  <:main>
    <main>
      {{outlet}}
    </main>
  </:main>
</PixAppLayout>

<PixToastContainer @closeButtonAriaLabel={{t "common.notifications.close-button.extra-information"}} />