.feedback {
  position: relative;
  height: 100%;
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  border-radius: var(--pix-spacing-4x);

  &--success {
    --modulix-feedback-state-color: var(--pix-success-700);
    --modulix-feedback-hover-color: var(--pix-success-500);
    --modulix-feedback-focus-color: var(--pix-success-900);

    background-color: var(--pix-success-50);
  }

  &--error {
    --modulix-feedback-state-color: var(--pix-warning-700);
    --modulix-feedback-hover-color: var(--pix-warning-500);
    --modulix-feedback-focus-color: var(--pix-warning-900);

    background-color: var(--pix-warning-50);
  }

  &__state {
    color: var(--modulix-feedback-state-color);
    font-weight: var(--pix-font-bold);
  }

  &__report-button {
    display: flex;
    justify-content: flex-end;

    button:not([aria-disabled="true"]) {
      color: var(--modulix-feedback-state-color);

      &:hover {
        color: var(--modulix-feedback-hover-color);
      }

      &:focus, &:active {
        color: var(--modulix-feedback-focus-color);
      }
    }
  }

  @media (not (prefers-reduced-motion: reduce)) {
    animation: 0.75s zoom-in-zoom-out ease;

    @keyframes zoom-in-zoom-out {
      0% {
        scale: 100%;
        overflow: hidden;
      }

      50% {
        scale: 110%;
      }

      100% {
        scale: 100%;
      }
    }
  }
}
