.feedback {
  @media (not (prefers-reduced-motion: reduce)) {
    animation: 0.75s zoom-in-zoom-out ease;

    @keyframes zoom-in-zoom-out {
      0% {
        scale: 100%;
        overflow: hidden;
      }

      50% {
        scale: 110%;
      }

      100% {
        scale: 100%;
      }
    }
  }

  &--success {
    --modulix-feedback-background-color: var(--pix-success-100);
    --modulix-feedback-state-color: var(--pix-success-900);
  }

  &--error {
    --modulix-feedback-background-color: var(--pix-warning-100);
    --modulix-feedback-state-color: var(--pix-warning-900);
    --modulix-feedback-retry-content-color: var(--pix-warning-900);
    --modulix-feedback-retry-background-color: var(--pix-warning-300-inline);
    --modulix-feedback-hover-retry-background-color: var(--pix-warning-500-inline);
    --modulix-feedback-focus-retry-content-color: var(--pix-warning-500);
  }

  &__content {
    position: relative;
    height: 100%;
    padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
    background-color: var(--modulix-feedback-background-color);
    border-radius: var(--pix-spacing-4x);

    > p {
      color: var(--modulix-feedback-state-color);
    }

    &--with-retry-button {
      border-bottom-right-radius: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: var(--pix-spacing-4x);
    justify-content: flex-end;
  }
}

.feedback-buttons {
  &__retry {
    padding: var(--pix-spacing-1x) var(--pix-spacing-4x);
    color: var(--modulix-feedback-retry-content-color);
    background-color: rgb(var(--modulix-feedback-retry-background-color), 0.8);
    border-radius: 0 0 8px 8px;

    &:not([aria-disabled="true"]) {
      &:hover {
        color: var(--modulix-feedback-retry-content-color);
        background-color: rgb(var(--modulix-feedback-hover-retry-background-color), 0.8);
      }

      &:focus, &:active {
        color: var(--modulix-feedback-focus-retry-content-color);
      }
    }
  }
}

.feedback-content {
  &__state {
    font-weight: var(--pix-font-bold);
  }
}
