.feedback {
  @media (not (prefers-reduced-motion: reduce)) {
    animation: 0.75s zoom-in-zoom-out ease;

    @keyframes zoom-in-zoom-out {
      0% {
        scale: 100%;
        overflow: hidden;
      }

      50% {
        scale: 110%;
      }

      100% {
        scale: 100%;
      }
    }
  }

  &--success {
    --modulix-feedback-background-color: var(--pix-success-100);
    --modulix-feedback-state-color: var(--pix-success-900);
  }

  &--error {
    --modulix-feedback-background-color: var(--pix-warning-100);
    --modulix-feedback-state-color: var(--pix-warning-900);
  }

  &__content {
    position: relative;
    height: 100%;
    padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
    border-radius: var(--pix-spacing-4x);
    background-color: var(--modulix-feedback-background-color);

    > p {
      color: var(--modulix-feedback-state-color);
    }
  }

  &__buttons {
    display: flex;
    gap: var(--pix-spacing-4x);
    justify-content: flex-end;
  }
}

.feedback-content {
  &__state {
    font-weight: var(--pix-font-bold);
  }
}
