.feedback {
  position: relative;
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  border-radius: var(--pix-spacing-4x);


  &--success {
    --modulix-feedback-state-color: var(--pix-success-700);

    background-color: var(--pix-success-50);
  }

  &--error {
    --modulix-feedback-state-color: var(--pix-error-700);

    background-color: var(--pix-error-50);
  }

  &__state {
    color: var(--modulix-feedback-state-color);
    font-weight: var(--pix-font-bold);
  }
}
