.feedback {
  position: relative;
  height: 100%;
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  border-radius: var(--pix-spacing-4x);

  &--success {
    --modulix-feedback-state-color: var(--pix-success-700);

    background-color: var(--pix-success-50);
  }

  &--error {
    --modulix-feedback-state-color: var(--pix-error-700);

    background-color: var(--pix-error-50);
  }

  &__state {
    color: var(--modulix-feedback-state-color);
    font-weight: var(--pix-font-bold);
  }

  @media (not (prefers-reduced-motion: reduce)) {
    animation:
      0.4s slide-in ease-in-out,
      0.5s fade-in ease-in-out;

    @keyframes slide-in {
      0% {
        height: 0;
        max-height: 0;
        padding: 0 var(--pix-spacing-6x);
        overflow: hidden;
      }

      60% {
        max-height: 100%;
        padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
      }

      100% {
        max-height: 100%;
      }
    }
  }
}
