@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';


.module-passage {
  max-width: var(--modulix-max-content-width);
  margin: 0 auto;
  padding: 0 var(--pix-spacing-4x);

  @include breakpoints.device-is('mobile') {
    padding-top: 0;

    &--new-pattern {
      padding-top: 70px;
    }
  }

  .auto-scroll {
    min-height: calc(100vh - var(--scroll-offset));

    @supports (min-height: 100dvh) {
      min-height: calc(100dvh - var(--scroll-offset));
    }
  }

  &__title {
    @extend %pix-title-m;

    margin: var(--pix-spacing-8x) 0;
    text-align: center;
  }

  &__content {
    --modulix-grains-gap: var(--pix-spacing-8x);

    display: flex;
    flex-direction: column;
    gap: var(--modulix-grains-gap);
    align-items: center;
    justify-content: center;
  }

  .module-is-beta-banner {
  margin-top: var(--pix-spacing-4x);
}
}
