@use 'pix-design-tokens/typography';

.module-passage {
  max-width: var(--modulix-max-content-width);
  margin: 0 auto;

  .auto-scroll {
    min-height: calc(100vh - var(--scroll-offset));

    @supports (min-height: 100dvh) {
      min-height: calc(100dvh - var(--scroll-offset));
    }
  }

  &__title {
    @extend %pix-title-m;

    margin: var(--pix-spacing-12x) var(--pix-spacing-2x);
    text-align: center;
  }

  &__content {
    --modulix-grains-gap: 56px;

    display: flex;
    flex-direction: column;
    gap: var(--modulix-grains-gap);
    align-items: center;
    justify-content: center;
  }
}
