.organization-all-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pix-spacing-2x);
  padding: 0;
  list-style: none;

  &__tag {
    button {
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 0.75rem;
    }
  }
}
