/* stylelint-disable selector-class-pattern */
#organizations-get-page {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-6x);

  .organization__navigation {
    margin: 0;
  }

  .organization__information {
    display: flex;
    margin-bottom: var(--pix-spacing-6x);

    .organization__data {
      flex-grow: 1;
    }

    .organization__edit-form {
      width: 500px;
    }
  }

  .organization__information--editing {
    display: block;
    padding: var(--pix-spacing-6x);
  }

  .organization__forms-section {
    display: flex;

    h2 {
      font-size: 1.125rem;
    }

    .organization__sub-form {
      display: flex;
      align-items: flex-end;

      .organization-sub-form__input {
        width: 280px;
        margin-right: 6px;

        &__error {
          border-color: var(--pix-error-700);
          border-right: 1px solid var(--pix-error-700);
        }
      }

      .organization-sub-form__validate-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .organization-sub-form__error-message {
      color: var(--pix-error-700);
      font-size: 0.85rem;
    }
  }
}
