@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.v3-certificate {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-10x);
}
