/* stylelint-disable selector-class-pattern */
.certification-center-invitations {
  display: flex;
  justify-content: space-around;
}

.certification-center-invitations__heading {
  margin-bottom: var(--pix-spacing-4x);
  font-size: 1.125rem;
}

.certification-center-invitations-form-container {
  display: flex;
  gap: var(--pix-spacing-2x);
  align-items: flex-end;
}

.certification-center-invitations-form-container__input {
  min-width: 18rem;
  margin-right: 0.4rem;

  &--error {
    border-color: var(--pix-error-700);
    border-right: 1px solid var(--pix-error-700);
  }
}

.certification-center-invitations-form-container__button {
  margin-left: 6px;
}

.certification-center-invitations-form-container__error-message {
  color: var(--pix-error-700);
  font-size: 0.85rem;
}
