.member-item-actions {
  display: flex;
  flex-direction: column;

  &__modify {
    display: flex;
    gap: var(--pix-spacing-1x);

    .member-item-actions__button {
      &:last-child {
        padding: var(--pix-spacing-2x) var(--pix-spacing-3x);
      }
    }

  }

  &__button {
    max-height: 30px;
    margin-bottom: var(--pix-spacing-1x);
  }
}

.disable-membership-button {
  margin-top: 5px;
}

.pix-select-in-table {
  max-width: 100%;
}

.member-information {
  overflow-wrap: break-word;
}
