@use 'pix-design-tokens/breakpoints';

.sr-only {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

@mixin external-link {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.2rem;
  background-image: url('/images/icons/external-link-alt.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  content: '';
}

@include breakpoints.device-is('mobile') {
  .hide-on-mobile {
    display: none;
  }
}
