@use 'pix-design-tokens/breakpoints';

body {
  color: var(--pix-neutral-800);
  background-color: var(--pix-primary-10);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

/* Global container */
%global-container {
  width: 100%;
  max-width: 96rem;
  margin-inline: auto;
  padding-inline: var(--pix-spacing-4x);

  @include breakpoints.device-is('desktop') {
    padding-inline: var(--pix-spacing-6x);
  }
}

.global-page-container {
  @extend %global-container;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.global-page-container__streched-content {
  flex-grow: 1;
}
