$pix-modal-border-radius: 5px;

/* Structure & layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal-wrapper {
  z-index: 100;

  .pix-modal-dialog {
    width: 100vw;
    padding: 10px;
    background: transparent;
    box-shadow: none;

    @include device-is("desktop") {
      width: 800px;
    }

    &--wide {
      @include device-is("desktop") {
        width: 950px;
      }
    }

    .pix-modal__close-link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 5px 0 5px auto;
      color: $pix-neutral-0;
      text-align: right;
      background: transparent;
      border: none;
      cursor: pointer;

      & > span {
        margin-right: 5px;
        color: inherit;
        font-size: 0.875rem;

        &:hover,
        &:active,
        &:focus {
          color: inherit;
        }
      }

      & > svg {
        font-size: 0.875rem;
      }
    }

    .pix-modal__container {
      position: relative;
      margin: auto;
      font-size: 1rem;
      background-color: $pix-neutral-10;
      border-radius: $pix-modal-border-radius;
      box-shadow: 0 0 10px 5px rgb(0 0 0 / 20%);

      &--white {
        background-color: $pix-neutral-0;
      }

      &--with-padding {
        @include device-is("desktop") {
          padding: 40px 0;
        }
      }

      .pix-modal-header {
        background: $pix-neutral-0;
        border-top-left-radius: $pix-modal-border-radius;
        border-top-right-radius: $pix-modal-border-radius;

        &__title {
          margin: 0;
          padding: 15px;
          font-size: 1.75rem;
          font-family: $font-roboto;
          text-align: center;

          &--thin {
            font-weight: $font-light;
          }
        }

        &__subtitle {
          margin: 0;
          color: $pix-neutral-100;
          font-weight: $font-normal;
          font-size: 1rem;
          font-family: $font-roboto;
          text-align: center;
        }
      }

      .pix-modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: $pix-neutral-20;

        &--with-padding {
          padding: 20px;
        }
      }

      .pix-modal-footer {
        border-bottom-right-radius: $pix-modal-border-radius;
        border-bottom-left-radius: $pix-modal-border-radius;

        &--with-centered-buttons {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          padding: 15px 0;

          > button {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

/* Form & input
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal__input {
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 15px;
  color: $pix-neutral-50;
  letter-spacing: 0.125rem;
  text-align: center;
  background-color: $pix-neutral-0;
  border: 2px solid $pix-neutral-20;
  border-radius: $pix-modal-border-radius;
  outline: none;

  &:focus {
    border-color: $pix-primary;
  }

  @include device-is("tablet") {
    width: auto;
    text-align: left;
  }
}

/* Overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.ember-modal-overlay.translucent {
  background-color: rgba(red($pix-neutral-80), green($pix-neutral-80), blue($pix-neutral-80), 95%);
}

/* Scrolling
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body.centered-modal-showing {
  overflow: hidden;
}

.centered-scrolling-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.centered-scrolling-overlay {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  padding: 10px;
}

.centered-scrolling-container {
  position: relative;
  box-sizing: border-box;
  min-height: 12.5em;
  margin-top: 30px;
  margin-bottom: 30px;
}
