@use 'pix-design-tokens/breakpoints';

.activity-dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
  margin-bottom: var(--pix-spacing-4x);

  &__row {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
  }

  @include breakpoints.device-is('desktop') {
    &__row {
      flex-direction: row;
      gap: var(--pix-spacing-8x);
    }

    &__participations-by-day {
      width: calc(75% - var(--pix-spacing-8x));
    }

    &__participations-by-status {
      width: calc(25% - 2px);
    }
  }
}
