@use 'pix-design-tokens/typography';

.certification-framework-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--pix-spacing-12x);
  margin-top: var(--pix-spacing-6x);

  &__title {
    span {
      color: var(--pix-neutral-800);

      @extend %pix-title-s;
    }
  }
}
