.link-to-current-target-profile {
  margin-bottom: var(--pix-spacing-4x);
  color: var(--pix-neutral-800);
  font-size: 16px;

  &__link {
    color: var(--pix-primary-500);

    &:hover {
      text-decoration: underline;
    }
  }
}
