.selected-target-profile-form-change {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-2x);
  padding: var(--pix-spacing-4x);
  font-size: 1.125rem;

  &__link {
    color: var(--pix-primary-500);

    &:hover {
      text-decoration: underline;
    }
  }
}
