@use 'pix-design-tokens/typography';

  .panel-actions  {
    margin-bottom: 1.25rem;
    padding: 1.25rem 2.5rem 0.3rem 2.58rem;
  }

  .panel-actions__header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 2.5rem;
  }

  .panel-actions__header-title {
    margin-left: 1rem;

    @extend %pix-title-s;
  }

  .panel-actions__header-icon {
    fill: var(--pix-neutral-500);
    width: 2rem;
    height: 2rem;
  }

  .panel-actions__action-row {
    display: flex;
    align-items: center;
    padding: 1.25rem 0 1.25rem 1.25rem;
    box-sizing: border-box;
    flex-flow: row nowrap;
    margin-bottom: 1.3rem;
    border: 0.062rem solid var(--pix-neutral-100);
    border-radius: 1.25rem;
    background: var(--pix-neutral-20);
    position: relative;
  }

  .panel-actions__action-icon {
    fill: var(--pix-neutral-500);
    width: 3rem;
    height: 3rem;
  }

  .panel-actions__action-icon svg {
    margin: 0 auto;
  }

  .panel-actions__description {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 1.25rem;
    width: 65%;
    color: var(--pix-neutral-500);
    font-size: 0.8rem;
  }

  .panel-actions__title {
    @extend %pix-title-xs;

    color: var(--pix-neutral-800);
  }

  .panel-actions__button {
    display: flex;
    align-items: center;
    padding-right: 0.625rem;
    margin-left: auto;
    margin-right: 1.25rem;

    > label, a {
      min-width: 164px;
    }
  }

  .panel-actions__warning {
    display: flex;
    align-items: center;
  }

  .panel-actions__warning-icon {
    fill: var(--pix-warning-500);
    width: 2.2rem;
    height: 2.2rem;
    margin-left: var(--pix-spacing-1x);
  }

  .panel-actions-description  {

    &__information {
      margin-bottom: 0;
    }
  }

  .panel-header {
    display: flex;
    padding-bottom: var(--pix-spacing-6x);
    margin: var(--pix-spacing-6x) 0;
    border-bottom: 1px solid var(--pix-neutral-100);

    &__title {
      display: flex;
      flex-grow: 1;

      @extend %pix-title-s;
    }

    &__action {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__mandatory-warning {
      padding-top: 4px;
      margin-left: 16px;
      font-size: 0.82rem;
      font-weight: normal;
      color: var(--pix-neutral-500);
    }
  }

  .certification-candidates-table__selected-subscriptions {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
      color: var(--pix-neutral-800);
    }
  }

  .certification-candidates-actions {
    display: flex;
    gap: var(--pix-spacing-2x);
}
