@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: var(--pix-orga-500);

  &__header {
    text-align: center;
  }

  &__title {
    @extend %pix-title-m;

    margin-top: var(--pix-spacing-8x);
    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-800);
  }

  &__container {
    margin-bottom: var(--pix-spacing-4x);
    padding: var(--pix-spacing-10x) 60px;
    background-color: var(--pix-neutral-0);
    border-radius: 10px;

    @include breakpoints.device-is('mobile') {
      padding: var(--pix-spacing-10x) var(--pix-spacing-4x);
      border-radius: 0px;
    }
  }
}
