{
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": [
        ".circleci/config.yml",
        ".github/**/*.yaml"
      ],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
