.password-rule {
  display: flex;
  gap: var(--pix-spacing-2x);
  align-items: center;

  svg {
    width: 1rem;
    height: 1rem;
    color: var(--pix-success-500);
  }

  &--error {
    font-weight: var(--pix-font-bold);

    svg {
      width: 1rem;
      height: 1rem;
      color: var(--pix-error-500);
    }
  }
}
