// stylelint-disable color-no-hex
:root {
  --pix-black-inline: 0,0,0;
  --pix-black: rgb(var(--pix-black-inline));
  --pix-white-inline: 255,255,255;
  --pix-white: rgb(var(--pix-white-inline));
  --pix-communication-dark-inline:14,88,90;
  --pix-communication-dark: rgb(var(--pix-communication-dark-inline));
  --pix-communication-light-inline:25,160,163;
  --pix-communication-light: rgb(var(--pix-communication-light-inline));
  --pix-contenu-dark-inline:35,69,119;
  --pix-contenu-dark: rgb(var(--pix-contenu-dark-inline));
  --pix-contenu-light-inline:63,125,216;
  --pix-contenu-light: rgb(var(--pix-contenu-light-inline));
  --pix-environnementnum-dark-inline:133,133,249;
  --pix-environnementnum-dark: rgb(var(--pix-environnementnum-dark-inline));
  --pix-environnementnum-light-inline:99,70,206;
  --pix-environnementnum-light: rgb(var(--pix-environnementnum-light-inline));
  --pix-information-dark-inline:206,103,0;
  --pix-information-dark: rgb(var(--pix-information-dark-inline));
  --pix-information-light-inline:255,178,77;
  --pix-information-light: rgb(var(--pix-information-light-inline));
  --pix-securite-dark-inline:113,42,61;
  --pix-securite-dark: rgb(var(--pix-securite-dark-inline));
  --pix-securite-light-inline:206,77,111;
  --pix-securite-light: rgb(var(--pix-securite-light-inline));
  --pix-error-100-inline:245,200,200;
  --pix-error-100: rgb(var(--pix-error-100-inline));
  --pix-error-300-inline:233,137,137;
  --pix-error-300: rgb(var(--pix-error-300-inline));
  --pix-error-50-inline:252,237,237;
  --pix-error-50: rgb(var(--pix-error-50-inline));
  --pix-error-500-inline:222,79,79;
  --pix-error-500: rgb(var(--pix-error-500-inline));
  --pix-error-700-inline:158,56,56;
  --pix-error-700: rgb(var(--pix-error-700-inline));
  --pix-error-900-inline:93,33,33;
  --pix-error-900: rgb(var(--pix-error-900-inline));
  --pix-neutral-100-inline:207,209,219;
  --pix-neutral-100: rgb(var(--pix-neutral-100-inline));
  --pix-neutral-300-inline:150,157,177;
  --pix-neutral-300: rgb(var(--pix-neutral-300-inline));
  --pix-neutral-50-inline:239,240,243;
  --pix-neutral-50: rgb(var(--pix-neutral-50-inline));
  --pix-neutral-500-inline:99,108,138;
  --pix-neutral-500: rgb(var(--pix-neutral-500-inline));
  --pix-neutral-700-inline:70,77,98;
  --pix-neutral-700: rgb(var(--pix-neutral-700-inline));
  --pix-neutral-900-inline:42,45,58;
  --pix-neutral-900: rgb(var(--pix-neutral-900-inline));
  --pix-primary-100-inline:195,215,243;
  --pix-primary-100: rgb(var(--pix-primary-100-inline));
  --pix-primary-300-inline:126,168,229;
  --pix-primary-300: rgb(var(--pix-primary-300-inline));
  --pix-primary-400-inline:101,151,224;
  --pix-primary-400: rgb(var(--pix-primary-400-inline));
  --pix-primary-50-inline:236,242,251;
  --pix-primary-50: rgb(var(--pix-primary-50-inline));
  --pix-primary-500-inline:63,125,216;
  --pix-primary-500: rgb(var(--pix-primary-500-inline));
  --pix-primary-700-inline:45,89,153;
  --pix-primary-700: rgb(var(--pix-primary-700-inline));
  --pix-primary-900-inline:26,53,91;
  --pix-primary-900: rgb(var(--pix-primary-900-inline));
  --pix-secondary-100-inline:255,234,203;
  --pix-secondary-100: rgb(var(--pix-secondary-100-inline));
  --pix-secondary-300-inline:255,210,142;
  --pix-secondary-300: rgb(var(--pix-secondary-300-inline));
  --pix-secondary-50-inline:254,248,238;
  --pix-secondary-50: rgb(var(--pix-secondary-50-inline));
  --pix-secondary-500-inline:255,188,87;
  --pix-secondary-500: rgb(var(--pix-secondary-500-inline));
  --pix-secondary-700-inline:181,133,62;
  --pix-secondary-700: rgb(var(--pix-secondary-700-inline));
  --pix-secondary-900-inline:107,79,37;
  --pix-secondary-900: rgb(var(--pix-secondary-900-inline));
  --pix-success-100-inline:182,222,211;
  --pix-success-100: rgb(var(--pix-success-100-inline));
  --pix-success-300-inline:98,183,159;
  --pix-success-300: rgb(var(--pix-success-300-inline));
  --pix-success-50-inline:232,244,241;
  --pix-success-50: rgb(var(--pix-success-50-inline));
  --pix-success-500-inline:20,148,112;
  --pix-success-500: rgb(var(--pix-success-500-inline));
  --pix-success-700-inline:14,105,80;
  --pix-success-700: rgb(var(--pix-success-700-inline));
  --pix-success-900-inline:8,62,47;
  --pix-success-900: rgb(var(--pix-success-900-inline));
  --pix-tertiary-100-inline:213,212,243;
  --pix-tertiary-100: rgb(var(--pix-tertiary-100-inline));
  --pix-tertiary-300-inline:163,161,230;
  --pix-tertiary-300: rgb(var(--pix-tertiary-300-inline));
  --pix-tertiary-50-inline:241,241,251;
  --pix-tertiary-50: rgb(var(--pix-tertiary-50-inline));
  --pix-tertiary-500-inline:118,115,217;
  --pix-tertiary-500: rgb(var(--pix-tertiary-500-inline));
  --pix-tertiary-700-inline:84,82,154;
  --pix-tertiary-700: rgb(var(--pix-tertiary-700-inline));
  --pix-tertiary-900-inline:50,48,91;
  --pix-tertiary-900: rgb(var(--pix-tertiary-900-inline));
 }
