@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.table {
  &__column {
    width: 16%;

    &--small {
      width: 10%;
    }

    &--hyphen {
      min-width: 15ch;
      hyphens: auto;
    }
  }

  &__empty {
    padding: 2rem 0;
    text-align: center;
  }
}


