@use 'pix-design-tokens/breakpoints';

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 40px 145px;

  @include breakpoints.device-is('tablet') {
    margin-left: 120px;
  }
}

.card {
  padding: 0;
  background-color: transparent;
  border-radius: 16px;

  &--loading {
    background-color: var(--pix-neutral-300);
    opacity: 0.2;
  }
}

.pix-button.card {
  &:focus {
    border: solid 3px var(--pix-primary-700);
  }

  &:hover, &:focus, &:active, &:focus-visible {
    background-color: transparent;

    .fake-button {
      color: var(--pix-neutral-0);
      background-color: var(--pix-primary-700);
    }
  }
}

.header_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
