@use 'pix-design-tokens/breakpoints';

$margin-right: var(--pix-spacing-8x);

.list-team-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  &__tabs {
    display: flex;
    margin-bottom: var(--pix-spacing-6x);
    border-bottom: 1px solid var(--pix-neutral-20);
  }

  .modal-dialog-width {
    width: 600px;
  }
}

.zone-edit-role {

  &__dropdown-button {
    margin-right: $margin-right;
  }

  &__dropdown-content {
    right: $margin-right;
    width: 200px;
  }
}

@include breakpoints.device-is('mobile') {
  .list-team-page {
    &__header {
      flex-direction: column;
    }
  }

  .list-team-page-header {
    &__add-member-button {
      margin-top: initial;
      margin-left: initial;
    }
  }
}
