.card-wrapper {
  height: fit-content;
  padding: var(--pix-spacing-4x);
  background-color: var(--pix-neutral-0);
  border-radius: 24px;
  box-shadow: 0 0 1px 0 var(--pix-primary-500), 8px 8px 32px -8px rgb(63 125 216 / 35%)
}
