@use '../globals/breakpoints';

.device-warning-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--pix-neutral-0);

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.device-warning-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: initial;
  background-image: url('/images/background-blob-with-robot.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 90%;
  background-attachment: fixed;

  .close-button {
    align-self: self-end;
    margin: var(--pix-spacing-8x) var(--pix-spacing-8x) 0 0;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
    margin: var(--pix-spacing-12x) var(--pix-spacing-9x);
    color: var(--pix-neutral-900);

    h1 {
      font-weight: 800;
      font-size: 1.2rem;
    }

    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }

    span {
      display: flex;
      flex-direction: row;
      gap: var(--pix-spacing-6x);
      align-items: center;
    }

    .logo {
      width: 182px;
      height: 50px;
    }

    .button-link {
      max-width: 200px;
    }
  }

  &.is-landscape {
    background-size: 45%;

    section {
      max-width: 52%;
    }
  }

  &.is-tablet section {
    margin: var(--pix-spacing-6x) 80px;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .logo {
      width: 291px;
      height: 80px;
      margin-bottom: var(--pix-spacing-3x);
    }
  }
}
