.identified-learner {
  display: flex;
  gap: var(--pix-spacing-3x);
  align-items: center;
  font-weight: var(--font-medium);

  &__informations {
    display: flex;
    flex-direction: column;
    align-items: end;

    button {
      padding: 0;
    }

    p {
      font-weight: var(--pix-font-bold);
      white-space: nowrap;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    padding: var(--pix-spacing-1x);
    background-color: var(--pix-primary-300);
    border-radius: 50%;
    fill: var(--pix-neutral-0);
  }
}
