@use 'pix-design-tokens/breakpoints';

.robot-speaking {
  display: flex;
  width: 100%;
  margin-top: 20px;

  @include breakpoints.device-is('tablet') {
    margin-top: 8px;
  }

  .bubbles {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 80%;
    margin-left: 140px;

    @include breakpoints.device-is('tablet') {
      margin-left: 120px;
    }
  }

  &__logo {
    position: absolute;
    width: 128px;
    margin-top: -57px;

    @include breakpoints.device-is('tablet') {
      width: 106px;
      margin-top: -37px;
    }
  }
}



