.robot-speaking {
  display: flex;
  width: 100%;
  margin-top: 30px;

  .bubbles {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 80%;
    margin-left: 130px;
  }

  &__logo {
    position: absolute;
    width: 128px;
    margin-right: var(--pix-spacing-3x);
    margin-top: -57px;

    @include device-is('tablet') {
      width: 106px;
      margin-right: var(--pix-spacing-4x);
      margin-top: -37px;
    }
  }
}



