@charset "utf-8";
@use 'pix-design-tokens/breakpoints';

// global
@use 'globals/colors' as *;
@use 'globals/layout' as *;
@use 'globals/competences' as *;
@use 'globals/errors' as *;
@use 'globals/forms' as *;
@use 'globals/icons' as *;
@use 'globals/panels' as *;
@use 'globals/pix-loader' as *;
@use 'globals/tables' as *;
@use 'globals/texts' as *;

// components
@use 'components/activity-type' as *;
@use 'components/banner' as *;
@use 'components/certificability' as *;
@use 'components/ui' as *;
@use 'components/sco-organization-participant' as *;
@use 'components/login-form' as *;
@use 'components/campaign' as *;
@use 'components/import' as *;
@use 'components/index' as *;
@use 'components/current-organization' as *;
@use 'components/edit-student-number-modal' as *;
@use 'components/dropdown' as *;
@use 'components/index/action-cards-list' as *;
@use 'components/join-request-form' as *;
@use 'components/layout/footer' as *;
@use 'components/layout/organization-places-or-credit-info' as *;
@use 'components/layout/sidebar' as *;
@use 'components/layout/topbar' as *;
@use 'components/layout/user-logged-menu' as *;
@use 'components/locale-switcher' as *;
@use 'components/mission/navigation' as *;
@use 'components/mission/result-table' as *;
@use 'components/organization-learner' as *;
@use 'components/participant' as *;
@use 'components/places' as *;
@use 'components/previous-page-button' as *;
@use 'components/pix-score-tag' as *;
@use 'components/progress-bar' as *;
@use 'components/register-form' as *;
@use 'components/team' as *;
@use 'components/team/invite-form' as *;
@use 'components/login-or-register' as *;
@use 'components/manage-authentication-method-modal' as *;
@use 'components/participation-filters' as *;
@use 'components/learner/header' as *;
@use 'components/sup-organization-participant/replace-students-modal' as *;
@use 'components/import-banner' as *;
@use 'components/import-information-banner' as *;
@use 'components/statistics' as *;
@use 'components/statistics/cover-rate-gauge' as *;

// pages
@use 'pages/login' as *;
@use 'pages/join' as *;
@use 'pages/join-request' as *;
@use 'pages/authenticated' as *;
@use 'pages/authenticated/index' as *;
@use 'pages/authenticated/attestations' as *;
@use 'pages/authenticated/campaigns/campaign' as *;
@use 'pages/authenticated/campaigns/campaign/analysis' as *;
@use 'pages/authenticated/campaigns/create-form' as *;
@use 'pages/authenticated/campaigns/new-item' as *;
@use 'pages/authenticated/campaigns/update' as *;
@use 'pages/authenticated/campaigns/details/activity' as *;
@use 'pages/authenticated/campaigns/details/analysis' as *;
@use 'pages/authenticated/campaigns/details/profile-results' as *;
@use 'pages/authenticated/campaigns/details/participants' as *;
@use 'pages/authenticated/campaigns/details/participants/participant' as *;
@use 'pages/authenticated/campaigns/participant-profile' as *;
@use 'pages/authenticated/combined-course' as *;
@use 'pages/authenticated/certifications' as *;
@use 'pages/authenticated/mission' as *;
@use 'pages/authenticated/mission/list' as *;
@use 'pages/authenticated/organization-participants/list' as *;
@use 'pages/authenticated/organization-participants/deletion-modal' as *;
@use 'pages/authenticated/sup-organization-participants/list' as *;
@use 'pages/authenticated/sco-organization-participants/list' as *;
@use 'pages/authenticated/preselect-target-profile' as *;
@use 'pages/authenticated/team' as *;
@use 'pages/authenticated/team/list' as *;
@use 'pages/authenticated/team/new' as *;
@use 'pages/authenticated/terms-of-service' as *;

/* App/Components */
@use 'sco-organization-participant/generate-username-password-modal' as *;
@use 'analysis/global-positioning' as *;

body,
html {
  height: 100%;
}

body {
  color: var(--pix-neutral-900);
  background-color: var(--pix-neutral-20);
}

input:invalid {
  box-shadow: none;
}

@include breakpoints.device-is('mobile') {
  .hide-on-mobile {
    display: none;
  }
}

/**
 * to fix on pix-ui
 * since the dropdown is hide using visibility, cypress take the content in account
 * which can lead to failing test since it see some content overlaping and
 * can't click on the element below.
*/
.pix-select__dropdown--closed {
  z-index: -1;
}
