@use 'pix-design-tokens/typography';

.global-page-header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pix-spacing-6x);
  justify-content: space-between;
  padding-bottom: var(--pix-spacing-6x);
  border-bottom: 1px solid var(--pix-neutral-100);
  margin-block: var(--pix-spacing-6x) var(--pix-spacing-8x);
}

.global-page-header__left-content {
  width: min(100%, 50rem);
}

.global-page-header__right-content {
  flex-shrink: 0;
}

.global-page-header__title {
  @extend %pix-title-m;

  color: var(--pix-neutral-900);
  text-wrap: pretty;
}

.global-page-header__description {
  @extend %pix-body-m;

  margin-top: var(--pix-spacing-3x);
  color: var(--pix-neutral-500);
  text-wrap: balance;
}
