.campaign-header-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--pix-spacing-4x);

  &__export-button {
    display: flex;
    align-items: end;
    padding-right: 10px;
  }
}
