@use 'pix-design-tokens/typography';

.campaign-header-title {
  &__details {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin: 0;
    padding: 0;

    & > * {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid var(--pix-neutral-20);
    }

    & > *:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right-width: 0;
    }
  }

  &__detail-item {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);

    & > dt {
      display: block;
      margin-bottom: var(--pix-spacing-2x);
    }

    & > dd {
      margin: 0;
      color: var(--pix-neutral-900);
    }
  }

  &__campaign-code {
    display: inline-flex;
  }
}
