@use 'pix-design-tokens/typography';

.organization-creation-form {
  &__card {
    .card__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--pix-spacing-6x) var(--pix-spacing-6x);
    }

    .card__content > * + * {
      margin-top: 0;
    }

    .pix-input__input {
      height: 42px;
    }
  }

  &__input {
    &--full {
      grid-column: 1 / span 2;
    }
  }

  &__parent-name--full {
    grid-column: 1 / span 2;
  }
}
