@use 'pix-design-tokens/typography';

.organization-features-form {
  &__card {
    .card__content {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      gap: var(--pix-spacing-6x) var(--pix-spacing-6x);
    }

    .card__content > * + * {
      margin-top: 0;
    }
  }
}

.features-section__attestations-select {
  width: 100%;

  &--error .pix-multi-select-main-input {
    border: 2px solid var(--pix-error-700);
  }
}

.features-section__attestations-error {
  margin-top: var(--pix-spacing-1x);
  color: var(--pix-error-700);
  font-size: 0.75rem;
}

.features-section__feature-item {
  padding-bottom: var(--pix-spacing-3x);
  border-bottom: 1px solid var(--pix-neutral-100);

  .form-field {
    &:has(input[type='checkbox']:disabled) label {
      color: var(--pix-neutral-500);
    }

    &:has(input[type='checkbox']:checked) label {
      color: var(--pix-primary-700);
      font-weight: 600;
    }
  }
}
