@use 'pix-design-tokens/typography';

.organization__head-information {
  display: flex;
  gap: var(--pix-spacing-4x);
  align-items: center;
  max-width: 1400px;
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  color: var(--pix-neutral-900);
  background-color: var(--pix-neutral-0);

  // TODO: replace border and shadow by new shadow design-token once available
  border: 1.2px var(--pix-neutral-100) solid;
  border-radius: var(--pix-spacing-4x);
  box-shadow: 5px 4px 10px 2px rgb(0 0 0 / 10%);

  .organization__logo {
    width: 83px;
    height: 83px;

    .organization__logo-figure {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 75px;
      height: 75px;
      margin: 0;
      border: 2px solid var(--pix-neutral-100);
      border-radius: 3px;

      > img {
        max-width: 100%;
        max-height: 100%;
      }

      > .file-upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
      }
    }
  }

  .organization__title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--pix-spacing-2x);

    .organization__name {
      @extend %pix-title-s;
    }

    .organization__id {
      @extend %pix-title-xxs;

      display: flex;
      gap: var(--pix-spacing-2x);
      align-items: center;

      span {
        font-weight: normal;
      }
    }

    .organization-tags-list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--pix-spacing-2x);
      padding: 0;
      list-style: none;
    }

    .organization__child-tag {
      a {
        color: var(--pix-success-700);
        text-decoration: underline;
      }
    }
  }

  .organization__dashboard-button {
    align-self: center;
  }
}
