{{page-title "Nouveau Centre de certif"}}
<header class="page-header">
  <CertificationCenters::Breadcrumb @currentPageLabel="Nouveau centre de certification" />
</header>

<main class="page-body">
  <section class="page-section">
    <CertificationCenters::CreationForm
      @habilitations={{@model.habilitations}}
      @onCancel={{this.goBackToCertificationCentersList}}
    />
  </section>
</main>