<section class="profile-scorecards">
  <h2 class="sr-only">{{t "pages.profile.accessibility.user-skills"}}</h2>
  <ul class="profile-scorecards__areas">
    {{#each @areas as |area|}}
      <li>
        <h3 class="sr-only">{{area.title}}</h3>
        <ul class="profile-scorecards__competences">
          {{#each @scorecards as |scorecard|}}
            {{#if (eq area.code scorecard.area.code)}}
              <li>
                <CompetenceCard @interactive={{@interactive}} @scorecard={{scorecard}} />
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</section>