/* global */
@use 'globals/global' as *;
@use 'globals/form' as *;
@use 'globals/page' as *;
@use 'globals/page-details' as *;
@use 'globals/tables' as *;
@use 'globals/table-admin' as *;

/* pages */
@use 'login' as *;
@use 'layout/sidebar' as *;
@use 'authenticated' as *;
@use 'authenticated/campaigns/get' as *;
@use 'authenticated/certifications/index' as *;
@use 'authenticated/certifications/certification/details-v2' as *;
@use 'authenticated/certifications/certification/informations' as *;
@use 'authenticated/certification-center/index' as *;
@use 'authenticated/organizations/get' as *;
@use 'authenticated/organizations/all-tags' as *;
@use 'authenticated/sessions/list' as *;
@use 'authenticated/sessions/session/certifications' as *;
@use 'authenticated/sessions/session/informations' as *;
@use 'authenticated/smart-random-simulator/get-next-challenge' as *;
@use 'authenticated/tools' as *;
@use 'authenticated/users/list' as *;

/* components */
@use 'components/quests/form' as *;
@use 'components/administration' as *;
@use 'components/administration/certification/certification-scoring-configuration' as *;
@use 'components/administration/certification/competence-scoring-configuration' as *;
@use 'components/administration/certification/flash-algorithm-configuration-form' as *;
@use 'components/administration/certification/sco-whitelist-configuration' as *;
@use 'components/administration/certification/scoring-simulator' as *;
@use 'components/autonomous-courses/details' as *;
@use 'components/autonomous-courses/form' as *;
@use 'components/badges/badge' as *;
@use 'components/campaigns/participations-section' as *;
@use 'components/campaigns/update' as *;
@use 'components/campaigns/type' as *;
@use 'components/card' as *;
@use 'components/certification-centers/list-items' as *;
@use 'components/certification-center-invitations' as *;
@use 'components/certification-details-answer' as *;
@use 'components/certification-details-competence' as *;
@use 'components/certification-info-field' as *;
@use 'components/certification-issue-reports' as *;
@use 'components/certification/candidate-edit-modal' as *;
@use 'components/certification/certification-status-select' as *;
@use 'components/certification/competence-list' as *;
@use 'components/certified-profile' as *;
@use 'components/common/tick-or-cross' as *;
@use 'components/common/tubes-selection' as *;
@use 'components/complementary-certifications/attach-badges/header' as *;
@use 'components/complementary-certifications/attach-badges/list' as *;
@use 'components/complementary-certifications/attach-target-profile' as *;
@use 'components/complementary-certifications/details' as *;
@use 'components/complementary-certifications/header' as *;
@use 'components/complementary-certifications/item' as *;
@use 'components/complementary-certifications/link-to-current-target-profile' as *;
@use 'components/complementary-certifications/search-bar' as *;
@use 'components/complementary-certifications/selected-target-profile' as *;
@use 'components/confirm-popup' as *;
@use 'components/layout/menu-bar' as *;
@use 'components/organization-information-section' as *;
@use 'components/organization-invitations' as *;
@use 'components/organization-team-section' as *;
@use 'components/organizations/all-tags' as *;
@use 'components/organizations/archiving-confirmation-modal' as *;
@use 'components/organizations/children/attach-child-form' as *;
@use 'components/organizations/list-items' as *;
@use 'components/organizations/places' as *;
@use 'components/organizations/places-lot-creation-form' as *;
@use 'components/participation-row' as *;
@use 'components/sessions/jury-comment' as *;
@use 'components/smart-random-simulator/current-challenge' as *;
@use 'components/smart-random-simulator/previous-challenges' as *;
@use 'components/smart-random-simulator/tubes-viewer' as *;
@use 'components/stages/view-stage' as *;
@use 'components/target-profiles/badge-form' as *;
@use 'components/target-profiles/badges' as *;
@use 'components/target-profiles/details' as *;
@use 'components/target-profiles/insights' as *;
@use 'components/target-profiles/organizations' as *;
@use 'components/target-profiles/pdf-modal' as *;
@use 'components/target-profiles/stage-form' as *;
@use 'components/target-profiles/stages' as *;
@use 'components/target-profiles/target-profile' as *;
@use 'components/team/add-member' as *;
@use 'components/team/list' as *;
@use 'components/trainings/create-or-update-training-form' as *;
@use 'components/trainings/training-details-card' as *;
@use 'components/trainings/training-target-profiles-tab' as *;
@use 'components/trainings/training-triggers-tab' as *;
@use 'components/ui' as *;
@use 'components/users/authentication-method' as *;
@use 'components/users/cgu' as *;
@use 'components/users/organization-learners-table' as *;
@use 'components/users/user-overview' as *;
@use 'components/users/user-profile' as *;
@use 'display/footer-modal' as *;

/* App/Components */
@use 'certifications/certification/details-v3' as *;
@use 'certification-centers/certification-center-form' as *;
@use 'certification-centers/information' as *;
@use 'certification-centers/member-item' as *;
@use 'certification-centers/membership-item' as *;
@use 'certification-centers/invitations-action' as *;
