@use 'pix-design-tokens/breakpoints';

.campaign-type {
  display: inline-flex;
  align-items: center;

  &__label {
    margin-left: var(--pix-spacing-2x);
  }

  &__icon-assessment, &__icon-profile-collection {
    width: 1.5rem;
    height: 1.5rem;

    &--big {
      width: 3rem;
      height: 3rem;
    }

    @include breakpoints.device-is('mobile') {
      &--big {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__icon-assessment {
    fill: var(--pix-tertiary-500);
  }

  &__icon-profile-collection {
    fill: var(--pix-primary-500);
  }
}
