@use 'pix-design-tokens/typography';

.issue-report-modal-form {
  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
  }

  &__comment {
    resize: none;
  }

  &__action-buttons {
    display: flex;
    gap: var(--pix-spacing-4x);
    justify-content: flex-end;
  }

  .pix-textarea, .pix-select {
    width: 100%;
  }
}

.issue-report-modal {
  &__mandatory {
    @extend %pix-body-xs;

    padding-bottom: var(--pix-spacing-2x);
    color: var(--pix-neutral-800);
  }

  &__error-message {
    margin-top: var(--pix-spacing-2x);
  }
}
