.issue-report-modal-form {
  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
  }

  &__comment {
    resize: none;
  }

  &__action-buttons {
    display: flex;
    gap: var(--pix-spacing-2x);
    justify-content: flex-end;
  }
}

.issue-report-modal {
  &__mandatory {
    padding-bottom: var(--pix-spacing-2x);
  }
}
