.authenticated {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authenticated-layout {
  min-height: 100vh;

  @include device-is('tablet') {
    min-height: auto;
  }
}
