@use 'pix-design-tokens/breakpoints';

.challenge-media {
  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    color: var(--pix-neutral-900);
    font-size: 5rem;
  }

  &__loaded-image {
    max-width: 100%;
    max-height: 650px;

    @include breakpoints.device-is('tablet') {
      max-height: 500px;
    }
  }

  &__loaded-image--hidden {
    display: none;
  }
}
