<Global::AppLayout>
  <main id="main" role="main" class="global-page-container">
    <Ui::PageTitle>
      <:title> {{t "pages.certifications-list.title"}}</:title>
      <:subtitle>{{t "pages.user-tests.description"}}</:subtitle>
    </Ui::PageTitle>

    <UserCertificationsPanel @certifications={{@model}} />
  </main>
</Global::AppLayout>