@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/colors';

.acquired-badges-compact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item, &__overflow {
    margin-left: calc(var(--pix-spacing-4x) * -1);
  }

  &__item {
    display: flex;
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  &__overflow {
    @extend %pix-body-s;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.5rem;
    color: var(--pix-primary-300);
    font-weight: var(--pix-font-bold);
    background-image: url('/images/background/badge-overflow.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
