@use 'pix-design-tokens/breakpoints';

.banners {
  margin-bottom: 0;

  &:first-child {
    margin-top: var(--pix-spacing-6x);
  }

  @include breakpoints.device-is('tablet') {
    margin-bottom: var(--pix-spacing-6x);

    &:first-child {
      margin-top: 0;
    }
  }
}
