@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  line-height: 1;

  @include breakpoints.device-is('desktop') {
    flex-direction: row;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    @include breakpoints.device-is('desktop') {
      flex-direction: row;
    }

    &-list {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        align-self: center;
        display: inline;
        padding: 0;
      }
    }
  }

  &__copyright {
    color: var(--pix-neutral-500);
    cursor: default;
    @extend %pix-body-xs;
  }
}

.footer-navigation {

  &__item {
    margin-right: var(--pix-spacing-2x);
    color: var(--pix-neutral-500);
    @extend %pix-body-s;
    font-weight: 500;
    text-decoration: none;

    @include breakpoints.device-is('desktop') {
      margin-right: var(--pix-spacing-4x);
    }

    &.active, &:focus, &:hover {
      cursor: pointer;
      color: var(--pix-primary-500);
    }

    &:focus, &:focus-visible {
      background-color: var(--pix-primary-10);
      outline:2px solid var(--pix-primary-300);
      outline-offset: 0;
    }
  }
}
