.complementary-certification__tabs {
  margin: var(--pix-spacing-6x) 0;
}

.complementary-certification--no-tabs {
  margin-top: var(--pix-spacing-6x);
  padding-top: var(--pix-spacing-6x);
  border-top: 3px solid var(--pix-primary-500);
}
