
.attach-target-profile-search {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    padding: var(--pix-spacing-4x) 0;

  &__input {
    min-width: 40%;
  }

  &__results, &__loader, &__no-result {
    position: absolute;
    z-index: 200;
    width: inherit;
    max-height: 12.5rem;
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    overflow-y: auto;
    color: var(--pix-neutral-100);
    white-space: nowrap;
    list-style-type: none;
    background-color: var(--pix-neutral-0);
    border-top: none;
    border-radius: 0 0 var(--pix-spacing-1x) var(--pix-spacing-1x);
    box-shadow: 0 6px 12px rgb(7 20 46 / 8%);
    transition: all 0.1s ease-in-out;

    &__option {
      color: var(--pix-neutral-800);
    }

    &__option:hover,
    &__option:focus {
      background-color: var(--pix-neutral-20);
      outline: none;
      cursor: pointer;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--pix-neutral-20);
      border: 1px solid var(--pix-neutral-20);
      border-radius: var(--pix-spacing-1x);
    }

    &::-webkit-scrollbar-thumb {
      width: 0.375rem;
      background: var(--pix-neutral-100);
      border-radius: var(--pix-spacing-1x);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--pix-neutral-100);
    }
  }
}
