@use 'pix-design-tokens/typography';

.attestation-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    gap: var(--pix-spacing-6x);
    margin-bottom: var(--pix-spacing-6x);
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__illustration {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  &__title {
    @extend %pix-title-xs;
  }

  &__subtitle {
    @extend %pix-body-s;
  }

  &__button {
    min-width: fit-content;
  }
}
