{{page-title (t "pages.attestations.title")}}

<div class="attestations-page">
  <Attestations::SixthGrade @divisions={{@model.options}} @onSubmit={{this.downloadSixthGradeAttestationsFile}} />
</div>