@use 'pix-design-tokens/typography';

.jury-comment {
  color: var(--pix-neutral-800);

  @extend %pix-body-s;

  &__title {
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 1.25rem;

    @extend %pix-title-xs;
  }

  &__author {
    margin-bottom: 4px;
    font-weight: bold;
  }

  &__date {
    color: var(--pix-neutral-500);
    font-size: 0.9rem;
  }

  &__content {
    padding: 8px 24px;
    background-color: var(--pix-neutral-20);
  }

  &__field {
    height: 80px;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;

    .pix-button {
      margin-right: 16px;
    }
  }
}
