@use 'pix-design-tokens/typography';

.jury-comment {
  color: var(--pix-neutral-800);

  @extend %pix-body-s;

  &__title {
    margin: var(--pix-spacing-4x) 0;

    @extend %pix-title-xs;
  }

  &__author {
    font-weight: bold;
  }

  &__date {
    @extend %pix-body-xs;

    color: var(--pix-neutral-500);
  }

  &__content {
    margin: var(--pix-spacing-3x) 0;
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    background-color: var(--pix-neutral-0);
  }

  &__field {
    height: 80px;
    margin-bottom: var(--pix-spacing-3x);
  }

  &__actions {
    display: flex;

    .pix-button {
      margin-right: 16px;
    }
  }
}
