.upsert-quests-in-batch {
  &__actions {
    display: block;
  }

  &__buttons {
    display: flex;
    gap: var(--pix-spacing-4x);
  }

  &__errors {
    margin-top: var(--pix-spacing-4x);

    & > span {
      width: 100%;
    }
  }

  &__error {
    & > span {
      font-weight: var(--pix-font-bold);
    }

    margin-bottom: var(--pix-spacing-2x);
  }

  &__json {
    width: 100%;
    padding: var(--pix-spacing-4x);
    background-color:var(--pix-error-100);
    border-radius: var(--pix-spacing-1x);
  }
}
