@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.campaign-details-analysis {
  color: var(--pix-neutral-900);
  font-weight: normal;
  letter-spacing: 0;

  &__header {
    @extend %pix-title-xs;
  }

  &__text {
    margin: 2px 0 29px 0;
    font-size: 0.875rem;
    font-family: fonts.$font-roboto;
    line-height: 1.375rem;
  }
}

.campaign-details-analysis-section {
  padding: 0;
}
