@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.campaign-details-analysis {
  &__header {
    @extend %pix-title-xs;
  }

  &__text {
    @extend %pix-body-s;

    margin-bottom: var(--pix-spacing-4x);
  }
}
