@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.tube-recommendation-title {
  @extend %pix-title-xs;

  color: var(--pix-neutral-800);
  font-size:0.875rem;
}

.tube-recommendation-subtitle {
  @extend %pix-body-s;

  color: var(--pix-neutral-500);
  font-weight: 400;
}

.tube-recommendation-tutorial {
  display: none;
  height: 0;
  border-top: none;

  &--open {
    display: table-row;
    height: 100%;
  }

  &__description {
    @extend %pix-title-s;

    margin-bottom: var(--pix-spacing-4x) 0;
    color: var(--pix-neutral-500);
    font-size:0.875rem;
  }

  &__column {
    position: relative;
    padding-right: var(--pix-spacing-10x);
    padding-left: var(--pix-spacing-8x);
  }

  &__title {
    @extend %pix-title-xs;

    margin-bottom: var(--pix-spacing-4x);
    font-weight: 500;
  }

  &__details {
    color: var(--pix-neutral-800);
    font-weight: normal;
    font-size: 0.75rem;
    font-family: fonts.$font-roboto;
  }

  &__format {
    text-transform: capitalize;
  }
}
