.proposal-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--pix-spacing-3x) var(--pix-spacing-4x);
  background: var(--pix-neutral-0);
  border: 1px solid var(--pix-neutral-500);
  border-radius: 8px;
  cursor: pointer;

  &:focus-within {
    border: 1px solid var(--pix-primary-500);
    outline: 2px solid var(--pix-primary-300);
  }

  &:hover,
  &:active {
    background: var(--pix-primary-10);
  }

  &[disabled] {
    cursor: not-allowed;

    &:hover {
    background: var(--pix-neutral-0);
    }
  }

  &[disabled]:not(.proposal-button--selected) {
    --state-border-color: var(--pix-neutral-100);

    background: var(--pix-primary-100);
    border-color: var(--state-border-color);
  }
}
