@use 'pix-design-tokens/typography';
@use '../passage';

.stepper {
  display: flex;
  flex-direction: column;

  &__step {
    margin-bottom: var(--pix-spacing-6x);

    &--active {
      @extend .auto-scroll;

      outline: none;
    }

    &--disabled {
      pointer-events: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__position {
      display: inline-block;

      @extend %pix-body-m;

      margin: var(--pix-spacing-1x) 0 var(--pix-spacing-4x) 0;
      padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
      color: var(--pix-neutral-800);
      background: var(--pix-neutral-20);
      border-radius: var(--modulix-radius-l);
    }
  }

  &__next-button {
    width: fit-content;
    min-width: 140px;
  }
}
