@use 'pix-design-tokens/typography';
@use '../passage';

.stepper-step {
  &__position {
    @extend %pix-body-m;
  }
}

.stepper {
  display: flex;
  flex-direction: column;

  &__step {
    margin-bottom: var(--pix-spacing-6x);

    &--active {
      @extend .auto-scroll;

      outline: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .stepper-step {
    &__position {
      margin: var(--pix-spacing-1x) 0 var(--pix-spacing-4x) 0;
    }
  }
}

.stepper-step-position {
  &__content {
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    color: var(--pix-neutral-800);
    background: var(--pix-neutral-20);
    border-radius: var(--modulix-radius-l);
  }
}

.stepper-next {
  &__button {
    min-width: 140px;
  }
}
