@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';
@use '../passage';

.stepper--horizontal {
  display: grid;
  grid-template-rows: auto auto;
  gap: 8px;

  .stepper__step {
    --previous-slide-visible-width: 10px;

    grid-row: 1 / 1;
    grid-column: 1 / 1;
    align-items: center;
    padding: var(--pix-spacing-4x);
    border: 1px solid var(--pix-neutral-100);
    border-radius: 8px;

    &:not(.stepper-step__active) {
      position: relative;
      transform: translateX(calc((-50vw - 50%) + var(--previous-slide-visible-width)));
      pointer-events: none;

      &::after {
        position: absolute;
        top: 50%;
        left: calc(100% + 4px);
        width: calc(50vw - 50% - var(--previous-slide-visible-width) - 8px);
        border-bottom: 1px solid var(--pix-neutral-500);
        opacity: 0.3;
        content: '';
      }
    }

    &.stepper-step__active:not(.stepper-step--last-step) {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        left: calc(100% + 4px);
        width: calc(50vw - 50% - var(--previous-slide-visible-width) - 8px);
        border-bottom: 1px solid var(--pix-neutral-500);
        opacity: 0.3;
        content: '';
      }

      &::before {
        position: absolute;
        top: 0;
        left: calc((50vw + 50%) - var(--previous-slide-visible-width));
        width: 100%;
        height: 100%;
        border: 1px solid var(--pix-neutral-100);
        border-radius: 8px;
        content: '';
      }
    }
  }
}

.stepper--vertical {
  display: flex;
  flex-direction: column;

  /* stylelint-disable-next-line no-descending-specificity */
  .stepper__step {
    margin-bottom: var(--pix-spacing-6x);

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      @extend .auto-scroll;

      outline: none;
    }

    &__position {
      display: inline-block;

      @extend %pix-body-m;

      margin: var(--pix-spacing-1x) 0 var(--pix-spacing-4x) 0;
      padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
      color: var(--pix-neutral-800);
      background: var(--pix-neutral-20);
      border-radius: var(--modulix-radius-l);
    }
  }
}

.stepper__next-button {
  justify-self: start;
  width: fit-content;
  min-width: 140px;
}

@include breakpoints.device-is('tablet') {
  .stepper--horizontal {
    .stepper__step {
      --previous-slide-visible-width: 20px;
    }
  }
}

@include breakpoints.device-is('desktop') {
  .stepper--horizontal {
    .stepper__step {
      --previous-slide-visible-width: 100px;
    }
  }
}
