@use 'pix-design-tokens/typography';

.admin-form--training__duration {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  input {
    width: 6.25rem;
  }
}

.training__logo-url-link {
  @extend %pix-body-xs;

  display: block;
  color: var(--pix-primary-700);
  text-decoration: underline;
}
