@use 'pix-design-tokens/typography';

.training-details-card {
  display: grid;
  grid-template-columns: 1fr 180px;
  gap: 2rem;

  &__title {
    @extend %pix-title-xs;
  }

  &__editor-logo {
    width: 100%;
    height: 100%;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
