/* stylelint-disable selector-class-pattern */
.training-target-profiles {
  label {
    font-weight: bold;
    font-size: 1.125rem;
  }

  .training__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .training__sub-form {
    display: flex;
    align-items: center;
    min-width: 18.75rem;
  }

  .pix-button {
    margin-left: var(--pix-spacing-2x);
  }
}

.training-target-profiles-table {
  &__actions {
    display: flex;
  }
}
