@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.training-details-card {
  margin-bottom: var(--pix-spacing-6x);

  &__title {
    @extend %pix-title-xs;
  }

  &__editor-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: var(--pix-spacing-3x);
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    background-color: var(--pix-neutral-0);
    border: 1px var(--pix-primary-100) solid;
    border-radius: var(--pix-spacing-2x);

    @include breakpoints.device-is('tablet') {
      height: 300px;
      margin-bottom: 0;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include breakpoints.device-is('tablet') {
      display: grid;
      grid-template-columns: 1fr 300px;
      gap: 2rem;
    }
  }
}
