@use 'pix-design-tokens/breakpoints';

img.module-navigation {
  &__logo {
    height: 40px;
  }
}

.module-navigation {
  @include breakpoints.device-is('mobile') {
    position: fixed;
    top: var(--pix-spacing-2x);
    right: var(--pix-spacing-2x);
    left: var(--pix-spacing-2x);
    width: calc(100vw - var(--pix-spacing-4x));
    padding: 0;
  }

  .pix-icon-button:not([aria-disabled="true"]){
    &:hover{
        background-color: var(--pix-neutral-0);
    }

    &:focus{
      background-color: unset;
    }
  }

  & .pix-navigation__nav {
    gap: var(--pix-spacing-4x);
    align-items: center;
  }

  .pix-navigation__footer::before {
    display: none;
  }
}
