@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.module-navigation-button {
  width: 3.375rem;
  background-color: rgb(var(--pix-primary-700-inline), 0.2);

  &--disabled {
    background-color: unset;

    &:focus{
      background-color: var(--pix-neutral-0);
      border: 1px solid var(--pix-primary-100);
    }

    .pix-icon{
      fill: rgb(var(--pix-neutral-800-inline), 0.50);
    }
  }

  &--enabled {
    &.pix-icon-button:not([aria-disabled="true"]){
      &:focus, &:hover{
        color:var(--pix-neutral-800);
        background-color: rgb(var(--pix-primary-700-inline), 0.2);
      }
    }
  }
}

.module-navigation-button, .module-navigation-mobile-button {
  border-radius: var(--pix-spacing-2x);

  &--current {
    background-color: rgb(var(--pix-primary-700-inline), 0.60);

    &.pix-icon-button:not([aria-disabled="true"]){
      &:hover,&:focus{
        background-color: rgb(var(--pix-primary-700-inline), 0.60)
      }
    }

    .pix-icon {
      fill: var(--pix-neutral-0);
    }
  }

  &--enabled {
    background-color: rgb(var(--pix-primary-700-inline), 0.2);
  }
}

.module-navigation-mobile-button {
  @extend %pix-title-xxs;

  justify-content: start;
  width: 100%;
  margin-bottom: var(--pix-spacing-1x);
  padding: var(--pix-spacing-2x) var(--pix-spacing-3x);
  font-weight: var(--pix-font-normal);
  font-size: .875rem;

  &--enabled {
    color: var(--pix-neutral-900);

    &:hover, &:focus, &:active {
      color: var(--pix-neutral-0);
    }
  }

  &--current {
    color: var(--pix-neutral-0);
    background-color: rgb(var(--pix-primary-700-inline), 0.60);
  }

  &.pix-button[aria-disabled="true"] {
    color: var(--pix-neutral-900);
    background-color: unset;
    opacity: 1;

    .pix-icon {
      opacity: 0.5;
      fill: var(--pix-neutral-800);
    }
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pix-button__icon {
   width: 1.5rem;
   height: 1.5rem;
  }
}

.navigation-tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    @extend %pix-title-xxs;

    position: absolute;
    left: calc(100% + 10px);
    width: max-content;
    padding: var(--pix-spacing-1x) var(--pix-spacing-4x);
    color: var(--pix-neutral-800);
    background-color: rgb(var(--pix-primary-700-inline), 0.2);
    border-radius: var(--pix-spacing-2x);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    &--current {
      color: var(--pix-neutral-0);
      background-color: rgb(var(--pix-primary-700-inline), 0.6);
    }

    &--enabled {
      background-color: rgb(var(--pix-primary-700-inline), 0.2);
    }

    &--disabled {
      background-color: var(--pix-neutral-0);
      border: 1px solid var(--pix-primary-100);
    }
  }

  &--visible {
    &:hover, &:active {
      .navigation-tooltip__content {
        visibility: visible;
        opacity: 1;
      }
    }

    // Focus event is triggered by the button. That's why we are duplicating the style for this case.
    .module-navigation-button:focus-within + .navigation-tooltip__content {
      visibility: visible;
      opacity: 1;
    }
  }
}
