@use 'pix-design-tokens/breakpoints';

img.module-navigation {
  &__logo {
    height: 40px;
  }
}

.module-navigation {
  @include breakpoints.device-is('mobile') {
    position: sticky;
    padding: 0;
  }

  .pix-icon-button:not([aria-disabled="true"]){
    &:hover{
        background-color: var(--pix-neutral-0);
    }

    &:focus{
      background-color: unset;
    }
  }

  & .pix-navigation__nav {
    gap: var(--pix-spacing-4x);
    align-items: center;
  }

  .pix-navigation__footer::before {
    display: none;
  }

  &__button {
    @include breakpoints.device-is('mobile') {
      .pix-navigation-button {
        border-radius: var(--pix-spacing-2x);
      }
    }

    width: 3.375rem;
    background-color: rgb(var(--pix-primary-700-inline), 0.2);
  }

  &__button, &__mobile-button {
    border-radius: var(--pix-spacing-2x);

    &--current {
      background-color: rgb(var(--pix-primary-700-inline), 0.60);

      @include breakpoints.device-is('mobile') {
        color: var(--pix-neutral-0);
        background-color: rgb(var(--pix-primary-700-inline), 0.60);
      }

      &.pix-icon-button:not([aria-disabled="true"]){
        &:hover,&:focus{
          background-color: rgb(var(--pix-primary-700-inline), 0.60)
        }

      }

      .pix-icon {
        fill: var(--pix-neutral-0);
      }
    }

    &--disabled {
      background-color: unset;

      &:hover{
        background-color: var(--pix-neutral-0);
        border: 1px solid var(--pix-primary-100);

      }

      .pix-icon {
        fill: rgb(var(--pix-neutral-800-inline), 0.50);
      }

    }

    &--enabled {
      background-color: rgb(var(--pix-primary-700-inline), 0.2);

      &.pix-icon-button:not([aria-disabled="true"]){
        &:focus, &:hover{
          color:var(--pix-neutral-800);
          background-color: rgb(var(--pix-primary-700-inline), 0.2);
        }
      }
    }
  }

  &__mobile-button {
    margin-bottom: var(--pix-spacing-1x);
  }
}
