{{page-title "Nouvelle orga"}}
<header class="page-header">
  <div>
    <h1>Nouvelle organisation</h1>
  </div>
</header>

<main class="main-admin-form">
  <Organizations::CreationForm
    @organization={{@model}}
    @onSubmit={{this.addOrganization}}
    @onCancel={{this.goBackToOrganizationList}}
  />
</main>