@use 'pix-design-tokens/typography';

.module-objectives {
  @extend %pix-body-m;

  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
    margin-bottom: var(--pix-spacing-4x);
    font-weight: var(--pix-font-bold);
  }
}

.module-objectives-item {
  &__icon {
    flex-shrink: 0;
    color: var(--pix-primary-300);
  }
}
