@use 'pix-design-tokens/typography';

.module-recap {
  --modulix-objectives-max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--pix-spacing-4x) var(--pix-spacing-4x) var(--pix-spacing-12x) var(--pix-spacing-4x);
  background-color: var(--pix-primary-10);

  &__header {
    align-self: flex-end;
    margin-bottom: var(--pix-spacing-8x);
  }

  &__illustration {
    margin-bottom: var(--pix-spacing-2x);
  }

  &__title {
    @extend %pix-title-l;

    margin-bottom: var(--pix-spacing-4x);
  }

  &__objectives {
    max-width: var(--modulix-objectives-max-width);
    margin-bottom: var(--pix-spacing-8x);
    border-radius: var(--modulix-radius);
  }

  &__link-details {
    margin-bottom: var(--pix-spacing-2x);
  }
}

.module-recap-objectives {
  &__subtitle {
    margin-bottom: var(--pix-spacing-8x);
    text-align: center;
  }
}
