@use 'pix-design-tokens/fonts';

.certificability-tooltip {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 6px;
  fill: var(--pix-neutral-500);

  [role='tooltip'] {
    font-weight: fonts.$font-normal;
  }
}
