@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/breakpoints';

.footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--pix-spacing-4x);
  line-height: 1;

  @include breakpoints.device-is('desktop') {
    flex-direction: row;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    @include breakpoints.device-is('desktop') {
      flex-direction: row;
    }

    &-list {
      display: flex;
      padding: 0;
      list-style: none;

      li {
        display: inline;
        align-self: center;
        padding: 0;
      }
    }
  }

  &__copyrights {
    color: var(--pix-neutral-500);
    font-size: 0.75rem;
    font-family: fonts.$font-roboto;
    cursor: default;
  }
}

.footer-navigation {
  &__item {
    margin-right: var(--pix-spacing-2x);
    color: var(--pix-neutral-500);
    font-weight: 500;
    font-size: 0.8125rem;
    font-family: fonts.$font-roboto;
    text-decoration: none;

    @include breakpoints.device-is('desktop') {
      margin-right: var(--pix-spacing-4x);
    }

    &.active {
      color: var(--pix-primary-500);
    }

    &:focus {
      color: var(--pix-neutral-800);
    }

    &:hover {
      color: var(--pix-primary-500);
      cursor: pointer;
    }
  }
}
