@use 'pix-design-tokens/typography';

.organization-places-or-credit-info {
  @extend %pix-body-s;

  display: flex;
  justify-content: center;
  padding: 0 var(--pix-spacing-4x);
  font-weight: var(--pix-font-bold);

  &__warning {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    justify-content: center;
    padding: var(--pix-spacing-1x) var(--pix-spacing-2x);
    color: var(--pix-error-700);
    font-weight: var(--pix-font-medium);
    font-weight: 500;
    background-color: rgb(var(--pix-neutral-0-inline), 70%);
    border-radius: 4px;
  }

  &__link {
    color: var(--pix-neutral-500);
    font-weight: var(--pix-font-medium);
    text-decoration: underline;
  }

  .info-icon {
    margin: 0 var(--pix-spacing-1x);
    fill: var(--pix-neutral-0);
  }

  .warning-icon {
    fill: var(--pix-error-700);
  }
}
