@use 'pix-design-tokens/typography';

.invitation-banner {
  @extend %pix-title-xxs;

  padding: var(--pix-spacing-3x) var(--pix-spacing-4x);
  color: var(--pix-neutral-0);
  background-color: var(--pix-orga-500);
  border: 1px solid currentcolor;
  border-color: var(--pix-orga-500);
  border-radius: var(--pix-spacing-2x);
}