@use '../passage';

$grain-card-border-radius: var(--pix-spacing-4x);

.grain {
  --modulix-summary-card-background: var(--pix-secondary-100);
  --modulix-challenge-card-background: rgba(var(--pix-primary-100-inline), 0.3);

  width: 100%;

  &--active {
    @extend .auto-scroll;
  }

  &:last-child {
    padding-bottom: var(--pix-spacing-12x);
  }

  &__header {
    margin-bottom: var(--pix-spacing-6x);
    padding: 0 var(--pix-spacing-4x);
    font-weight: var(--pix-font-medium);
  }

  &__card {
    border-radius: $grain-card-border-radius;
  }

  &:focus-visible {
    outline: none;

    .grain__card {
      outline: 2px solid var(--pix-neutral-500);
      outline-offset: -2px;
    }
  }
}

.grain-card {
  &__content {
    padding: var(--pix-spacing-6x);
  }

  &__footer {
    padding: var(--pix-spacing-2x) var(--pix-spacing-6x);
    border-top: 0 solid var(--pix-neutral-100);
    border-radius: 0 0 $grain-card-border-radius $grain-card-border-radius;
  }

  &--summary {
    background: var(--modulix-summary-card-background);

    .grain-card__footer {
      padding: var(--pix-spacing-6x);
      border-top: 1px solid var(--pix-neutral-100);
    }
  }

  &--challenge {
    background: var(--modulix-challenge-card-background);

    .grain-card__footer {
      padding: var(--pix-spacing-6x);
      border-top: 1px solid var(--pix-neutral-100);
    }
  }
}

.grain-card-content {
  &__element:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }

  &__stepper:not(:last-child) {
    margin-bottom: var(--pix-spacing-8x);
  }
}

// stylelint-disable-next-line no-duplicate-selectors
.grain--active:focus-visible {
  .grain__card {
    outline: 2px solid var(--pix-neutral-500);
    outline-offset: -2px;
  }
}
