@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.activity__dashboard {
  margin-bottom: 24px;
  padding: 0;
}

.activity__participants-list {
  margin-bottom: 24px;
  padding: 0;

  .warning-text {
    @extend %pix-body-s;

    font-weight: fonts.$font-medium;
  }
}

@media (max-width: 768px) {
  .activity__dashboard {
    margin-bottom: 12px;
  }
}
