<div class="pix-communication-banner">
  <DataProtectionPolicyInformationBanner />
</div>

<Global::AppLayout @hasAttestationDetails={{gt this.model.attestationDetail.length 0}}>
  {{outlet}}
</Global::AppLayout>