{{page-title (t "pages.fill-in-certificate-verification-code.title")}}

<Global::AppLayout>
  <main role="main">
    <CertificationVerificationCodeForm
      @checkCertificate={{this.checkCertificate}}
      @apiErrorMessage={{this.apiErrorMessage}}
      @clearErrors={{this.clearErrors}}
    />
  </main>
</Global::AppLayout>