{{page-title (t "pages.fill-in-certificate-verification-code.title")}}

<Global::AppLayout>
  <main id="main" role="main" class="global-page-container">
    <CertificationVerificationCodeForm
      @checkCertificate={{this.checkCertificate}}
      @apiErrorMessage={{this.apiErrorMessage}}
      @clearErrors={{this.clearErrors}}
    />
  </main>
</Global::AppLayout>