{{page-title (t "pages.shared-certification.title")}}

<Global::AppLayout>
  <main id="main" class="global-page-container" role="main">
    <Certifications::Shared::v2Certification @model={{this.model}} />
  </main>
</Global::AppLayout>