{{page-title (t "pages.shared-certification.title")}}

<Global::AppLayout>
  <main id="main" class="global-page-container" role="main">
    {{#if this.displayV3CertificationShared}}
      <Certifications::ShareableCertificate::v3Certificate @certificate={{this.model}} />
    {{else}}
      <Certifications::ShareableCertificate::v2Certificate @model={{this.model}} />
    {{/if}}
  </main>
</Global::AppLayout>