@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.v2-header-details {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-6x);

  @include breakpoints.device-is('tablet') {
    flex-direction: row;
    gap: var(--pix-spacing-8x);
    align-items: center;
  }

  &__information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoints.device-is('tablet') {
      flex-wrap: wrap;
    }

    @include breakpoints.device-is('desktop') {
      flex-wrap: nowrap;
    }
  }
}

.v2-header-details-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--pix-neutral-800);

  @extend %pix-body-m;

  h1 {
    @extend %pix-title-m;

    padding-bottom: var(--pix-spacing-4x);
  }

  &--bold {
    font-weight: var(--pix-font-bold);
  }

  &--grey {
    color: var(--pix-neutral-500);
  }

  &--professionalizing-warning {
    @extend %pix-body-s;

    padding-top: var(--pix-spacing-3x);
    color: var(--pix-neutral-500);
  }
}
