.evaluation-results-tab__trainings-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
  gap: var(--pix-spacing-6x);
  margin-top: var(--pix-spacing-8x);
}
