.student-information-form {

  &__tooltip {
    position: absolute;
    right: 0;
    z-index: 100;
    display: block;
    color: var(--pix-communication-dark);

    strong {
      font-weight: bold;
    }

    p {
      margin: 0;
      margin-top: 12px;
    }
  }

  &__birthdate-label {
    margin-bottom: var(--pix-spacing-2x);
  }

  &__birthdate-fields {
    display: flex;
    gap: var(--pix-spacing-4x);

    > .pix-input {
      width: 100%;
    }
  }
}
