.participation-list {
  &__table {
    th {
      color: var(--pix-neutral-900);
      font-weight: 700;
    }

    &.mission-table {
      th:last-child {
        width: 250px;
      }
    }

    td {
      color: var(--pix-neutral-900);
    }
  }
}
