@use 'pix-design-tokens/typography';


.result-analysis {
  &__title {
    @extend %pix-title-s;

    margin-bottom: var(--pix-spacing-1x);
  }

  &__global-information {
    display: flex;
    flex-direction: row;
    gap: var(--pix-spacing-1x);
    margin-bottom: var(--pix-spacing-10x);

  }

  &__global-positioning-explanation {
    @extend %pix-body-s;

    white-space: nowrap;

    ul {
      padding-left:var(--pix-spacing-6x);
      list-style-type: circle;
    }
  }
}

.analysis-description {
  @extend %pix-body-s;

  margin-bottom: var(--pix-spacing-8x);


  &__resume {
    font-weight: var(--pix-font-bold);
  }
}



.analysis-per-tube-or-competence {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      @extend %pix-title-s;

    }

    margin-bottom: var(--pix-spacing-1x);
  }
}

.analysis {

  &__description {
    @extend %pix-body-s;

    margin-bottom: var(--pix-spacing-6x);
  }

  &__table {
    margin-bottom: var(--pix-spacing-6x);
  }

  &__description-column {
    width: 65%;
  }

  &__level-column {
    width: 10%;
  }

  &__competence-title, &__tube-title {
    @extend %pix-body-s;

    display: block;
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__competence-description, &__tube-description {
    @extend %pix-body-s;

    display: block;
  }

  &__competence-title {
    @extend %pix-title-xxs;

    margin-bottom: var(--pix-spacing-3x);
  }

}
