<PixAppLayout @variant="certif" class="authenticated-layout">
  <Layout::Sidebar />

  <div class="authenticated">
    <main>
      <Layout::Banners />

      {{outlet}}
    </main>

    <Layout::Footer />
  </div>
</PixAppLayout>