<PixAppLayout @variant="certif">
  <:navigation>
    <Layout::Sidebar />
  </:navigation>

  <:main>
    <main>
      <Layout::Banners />
      {{outlet}}
    </main>
  </:main>

  <:footer>
    <Layout::Footer />
  </:footer>
</PixAppLayout>