<Layout::Banners />

<div class="app">
  <Layout::Sidebar
    @rootUrl={{this.rootUrl}}
    @showLinkToSessions={{this.showLinkToSessions}}
    @documentationLink={{this.documentationLink}}
  />

  <main class="app__main-content main-content">
    <div class="page">
      {{outlet}}
    </div>

    <Layout::Footer />
  </main>
</div>