.authentication-method {
  &__connexions-information {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--pix-spacing-6x);
    margin-left: var(--pix-spacing-6x);
  }
}

.authentication-method-table {
  width: inherit;

  &__caption {
    display: none;
  }

  &__name-column {
    padding-left: var(--pix-spacing-6x);
  }

  &__actions-column {
    > div {
      display: flex;

      button:not(:first-child) {
        margin-left: var(--pix-spacing-3x);
      }
    }
  }

  &__check {
    color: var(--pix-success-700);
  }

  &__uncheck {
    color: var(--pix-neutral-100);
  }
}

.reassign-authentication-method-modal {
  &__form-body {
    p {
      margin-bottom: var(--pix-spacing-10x);
      padding: 0;
    }
  }
}
