.user-profile-table {
  margin-top: var(--pix-spacing-8x);
}

.user-profile-total-pix {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__score {
    margin: 0;
    font-size: 50px;
  }
}
