.user-overview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-overview-section {
  display: flex;
  flex-direction: column;
  gap:  var(--pix-spacing-1x);;
  margin-bottom: var(--pix-spacing-6x);

  &__anonymisation-message {
    width: 100%;
    margin-top: var(--pix-spacing-3x);
  }

  &__copy-item {
    display: flex;
    gap:  var(--pix-spacing-2x);
    align-items: center;

    button {
      &:hover {
        color: var(--pix-primary-700);
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: var(--pix-spacing-3x);
    align-items: center;
  }

  & .pix-input {
    width: 100%;
  }
}
