.complementary-certification-attach-badges {
  &__description, &__error, &__section {
    margin-top: var(--pix-spacing-4x);
  }
}

.complementary-certification-attach-badges-section {

  &__table {
    display: flex;
    flex-direction: column-reverse;

    table {
      height: 100%;

      tbody {
        vertical-align: top;
      }
    }
  }
}
