<PixAppLayout @variant="orga" class="app">
  <:navigation>

    <Layout::Sidebar @placesCount={{@model.available}} @onChangeOrganization={{this.onChangeOrganization}} />
  </:navigation>
  <:main>

    <main class="main-content__body page">
      <Banner::TopBanners />
      {{outlet}}
    </main>
  </:main>
  <:footer>
    <Layout::Footer />
  </:footer>
</PixAppLayout>
<NotificationContainer @position="bottom-right" />