<PixAppLayout @variant="orga" class="app">
  <Layout::Sidebar @placesCount={{@model.available}} @onChangeOrganization={{this.onChangeOrganization}} />

  <main class="main-content__body page">
    <Banner::TopBanners />
    {{outlet}}
    <Layout::Footer />
  </main>

</PixAppLayout>
<NotificationContainer @position="bottom-right" />