{{page-title (t "pages.terms-of-service.title")}}

<main class="terms-of-service-page">
  <TermsOfService::Acceptation
    @legalDocumentStatus={{@model.legalDocumentStatus}}
    @legalDocumentPath={{@model.legalDocumentPath}}
    @onSubmit={{this.submit}}
  />
</main>