@use 'pix-design-tokens/breakpoints';

.combined-course-blueprints {
  &__column {
    &--compact {
      width: 1px;
      white-space: nowrap;
      vertical-align: top;
    }
  }
}
.combined-course-blueprint {
  &__container {
    display: flex;
    flex-direction: column;

    @include breakpoints.device-is('tablet') {
      display: grid;
      grid-template-columns: 1fr 300px;
      gap: 2rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--pix-spacing-4x);
  }
  &__breadcrumb {
    margin-bottom: var(--pix-spacing-8x);
  }
}
