/* stylelint-disable selector-class-pattern */
.combined-course-blueprint-organizations {
  label {
    font-weight: bold;
    font-size: 1.125rem;
  }

  .organization__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .organization__sub-form {
      display: flex;
      align-items: center;
      min-width: 300px;
    }

    .pix-button {
      margin-left: 8px;
    }
  }
}
