{{page-title (t "pages.user-tests.title")}}

<Global::AppLayout>
  <main id="main" class="global-page-container" role="main">
    <section class="global-page-header">
      <div class="global-page-header__left-content">
        <h1 class="global-page-header__title">
          {{t "pages.user-tests.title"}}
        </h1>
      </div>
    </section>

    <CampaignParticipationOverview::Grid @model={{this.model}} />
  </main>
</Global::AppLayout>