{{page-title (t "pages.user-tests.title")}}
<Global::AppLayout>
  <main id="main" role="main" class="global-page-container">
    <Ui::PageTitle>
      <:title> {{t "pages.user-tests.title"}}</:title>
      <:subtitle>{{t "pages.user-tests.description"}}</:subtitle>
    </Ui::PageTitle>

    <CampaignParticipationOverview::Grid @model={{this.model}} />
  </main>
</Global::AppLayout>