@use 'pix-design-tokens/typography';

.certification-information {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  &__block-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pix-spacing-4x);
  }

  &__buttons-row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %pix-title-xs;

    &--state {
      display: flex;
      justify-content: space-between;
    }
  }
}

.certification-information-candidate {
  .description-list > div {
    grid-template-columns: repeat(5, minmax(30%, auto));

    dd {
      grid-column: auto;
    }
  }
}

.certification-information-comments {
  &__action-buttons {
    display: flex;
    gap: var(--pix-spacing-4x);
  }
}

.certification-information-complementary {
  margin-top: var(--pix-spacing-4x);
}

.certification-information-pix-edu {
  &__container {
    display: flex;
    gap: var(--pix-spacing-4x);
    margin-top: var(--pix-spacing-4x);
  }

  &__card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
    padding: var(--pix-spacing-4x) 0;
    font-weight: 500;
    text-align: center;
    background-color: var(--pix-neutral-20);
    border-radius: var(--pix-spacing-2x);

    h3 {
      @extend %pix-title-xs;

      color: var(--pix-neutral-500);
      text-transform: uppercase;
    }
  }

  &__jury-level {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  &__jury-level-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 0 8px;

    section:nth-of-type(2) {
      display: flex;
      gap: 1rem;
      margin: 8px 0;

      button:last-child {
        flex: 2;
      }
    }
  }
}

.certification-information-results {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
}

.certification-information-global-actions {
  display: flex;
  gap: var(--pix-spacing-2x);
  justify-content: center;
}
