@use 'pix-design-tokens/typography';

.certification-informations {
  &__row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;

    &__actions {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }

    &--center {
      justify-content: center;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__card {
    flex-grow: 1;
    padding: 1rem;
    background: var(--pix-neutral-0);
    border: 1px solid var(--pix-neutral-20);
    border-radius: 8px;

    &__title {
      margin-bottom: 0.75rem;
      font-size: 1.25rem;

      &--state {
        display: flex;
        flex-wrap: wrap;
        gap: var(--pix-spacing-2x) var(--pix-spacing-4x);
        justify-content: space-between;
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__list-item {
      margin-bottom: 0.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__list-label {
      display: inline-block;
      min-width: 180px;
      color: var(--pix-neutral-500);
    }
  }
}

.certification-information {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pix-spacing-4x);
  }
}

.certification-information-card {
  &__title {
    @extend %pix-title-xs;

    &--state {
      display: flex;
      justify-content: space-between;
    }
  }

  .description-list > div {
    grid-template-columns: repeat(5, minmax(30%, auto));
  }
}

.certification-information-comments-card {
  &__action-buttons {
    display: flex;
    gap: var(--pix-spacing-4x);
  }
}

.certification-information-complementary-card {
  margin-top: var(--pix-spacing-4x);
}

.certification-information-pix-edu {
  &__container {
    display: flex;
    gap: var(--pix-spacing-4x);
    margin-top: var(--pix-spacing-4x);
  }

  &__card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
    padding: var(--pix-spacing-4x) 0;
    font-weight: 500;
    text-align: center;
    background-color: var(--pix-neutral-20);
    border-radius: var(--pix-spacing-2x);

    h3 {
      @extend %pix-title-xs;

      color: var(--pix-neutral-500);
      text-transform: uppercase;
    }
  }

  &__jury-level {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  &__jury-level-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 0 8px;

    section:nth-of-type(2) {
      display: flex;
      gap: 1rem;
      margin: 8px 0;

      button:last-child {
        flex: 2;
      }
    }
  }
}
