@charset "utf-8";

/* Pix UI */
@import 'pix-design-tokens';
@import 'pod-styles';

// Globals
@import 'globals/buttons';
@import 'globals/breakpoints';
@import 'globals/colors';
@import 'globals/fonts';

// Components
@import 'components/challenge/challenge';
@import 'components/challenge/challenge-actions';
@import 'components/challenge/challenge-embed-simulator';
@import 'components/challenge/challenge-content';
@import 'components/challenge/challenge-content-proposals';
@import 'components/challenge/content/challenge-media';
@import 'components/challenge/challenge-layout';
@import 'components/delayed-element';
@import 'components/device-warning-modal';
@import 'components/mission-card/card';
@import 'components/bubble';
@import 'components/footer';
@import 'components/issue';
@import 'components/identified-learner';
@import 'components/oralization-button';
@import 'components/robot-dialog';

// Pages
@import 'pages/identified/missions/introduction';
@import 'pages/identified/missions/list';
@import 'pages/identified/missions/mission';
@import 'pages/loading';
@import 'pages/organization-code';
@import 'pages/school';

body {
  color: var(--pix-neutral-900);
  font-weight: 600;
  font-family: $font-nunito;
  text-align: center;
  background: rgba(236 242 251 / 20%);
}

b {
  font-weight: bold;
}

.app {
  margin: 24px;

  main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 48px);
  }
}


