@charset "utf-8";

/* Pix UI */
@use 'pix-design-tokens';

// Globals
@use 'globals/buttons' as *;
@use 'globals/breakpoints' as *;
@use 'globals/colors' as *;
@use 'globals/fonts' as *;

// Components
@use 'components/challenge/challenge' as *;
@use 'components/challenge/challenge-actions' as *;
@use 'components/challenge/challenge-embed-simulator' as *;
@use 'components/challenge/challenge-content' as *;
@use 'components/challenge/challenge-content-proposals' as *;
@use 'components/challenge/content/challenge-media' as *;
@use 'components/challenge/challenge-layout' as *;
@use 'components/delayed-element' as *;
@use 'components/device-warning-modal' as *;
@use 'components/mission-card/card' as *;
@use 'components/bubble' as *;
@use 'components/card-wrapper' as *;
@use 'components/footer' as *;
@use 'components/issue' as *;
@use 'components/identified-learner' as *;
@use 'components/oralization-button' as *;
@use 'components/robot-dialog' as *;

// Pages
@use 'pages/identified/missions/introduction' as *;
@use 'pages/identified/missions/list' as *;
@use 'pages/identified/missions/mission' as *;
@use 'pages/loading' as *;
@use 'pages/organization-code' as *;
@use 'pages/school' as *;
@use 'pages/assessments/feedback' as *;


body {
  color: var(--pix-neutral-900);
  font-weight: 600;
  font-family: $font-nunito;
  text-align: center;
  background: rgba(236 242 251 / 20%);
}

b {
  font-weight: bold;
}

.app {
  margin: 24px;

  main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 48px);
  }
}
