@use 'activity/dashboard';
@use 'results/assessment-cards';
@use 'results/evolution-header';
@use 'results/participation-evolution-icon';
@use 'analysis/recommendations';
@use 'analysis/recommendation-indicator';
@use 'analysis/tube-recommendation-row';
@use 'charts/participants-by-day';
@use 'charts/participants-by-mastery-percentage';
@use 'charts/participants-by-stage';
@use 'charts/results-distribution';
@use 'charts/campaign-badge-acquisitions';
@use 'charts/participants-by-status';
@use 'header/tabs';
@use 'header/title';
@use 'header/archived-banner';
@use 'copy-paste-button';
@use 'empty-state';
@use 'list-header';
@use 'filters';
@use 'no-campaign-panel';
@use 'settings/campaign-settings';
@use 'stage-average';
@use 'target-profile-details';
@use 'cards';

.badge--unacquired {
  opacity: 0.8;
  filter: grayscale(1);
}
