@use 'pix-design-tokens/breakpoints';

.campaign-list-header {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoints.device-is('tablet') {
      flex-direction: row;
      margin: 1em 0 2.4em;
      margin-bottom: 20px;
    }
  }

  @include breakpoints.device-is('tablet') {
    &__create-campaign-button {
      margin-left: auto;
    }
  }

  &__tabs {
    margin-bottom: var(--pix-spacing-4x);
  }
}
