@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';

.chart-card {
  @extend %pix-shadow-xs;

  position: relative;
  padding: 16px 20px;
  background-color: var(--pix-neutral-0);
  border: none;
  border-radius: 10px;

  &__title {
    @extend %pix-title-xs;

    display: flex;
    gap: 4px;
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--pix-neutral-500);
  }

  &__tooltip-icon {
    width: 1rem;
    height:1rem;
    margin: 0 var(--pix-spacing-2x);
    fill: var(--pix-neutral-500);
  }
}
