@use 'pix-design-tokens/typography';

.chart-card {
  position: relative;

  &__title {
    @extend %pix-title-xs;

    display: flex;
    gap: var(--pix-spacing-1x);
    margin-bottom: var(--pix-spacing-6x);
    color: var(--pix-neutral-500);
  }

  &__tooltip-icon {
    width: 1rem;
    height:1rem;
    margin: 0 var(--pix-spacing-2x);
    fill: var(--pix-neutral-500);
  }
}
