@use 'pix-design-tokens/breakpoints';

$form-field-with: 500px;

.form-field {
  margin-bottom: var(--pix-spacing-6x);

  @include breakpoints.device-is('large-screen') {
    display: flex;
    gap: var(--pix-spacing-6x);
    justify-content: space-between;
  }

  & .pix-select-owner {
    width: 100%;
  }

  &__element {
    margin-bottom: var(--pix-spacing-4x);

    & .pix-input {
      width: 100%;
    }

    @include breakpoints.device-is('large-screen') {
      width: $form-field-with;
    }

    @include breakpoints.device-is('large-screen') {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  &__information {
      width: auto;

      @include breakpoints.device-is('large-screen') {
        width: calc(100% - ($form-field-with + var(--pix-spacing-6x)));
      }
  }
}
