@use 'pix-design-tokens/fonts';

.last-participation-date-tooltip {
  font-weight: fonts.$font-normal;

  &__icon {
    fill: var(--pix-neutral-500);
  }

  [role='tooltip'] {
    text-align: left;
  }

  &__informations {
    font-weight: fonts.$font-medium;
  }
}
