@use 'pix-design-tokens/breakpoints';

.pix-modal {

  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    margin-bottom: var(--pix-spacing-4x);

    @include breakpoints.device-is('tablet') {
      flex-flow: row wrap;
      justify-content: flex-end;
    }
  }
}
