.certification-list-page {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  /* stylelint-disable selector-class-pattern */
  td.certification-list-page__cell--important,
  span.certification-list-page__cell--important {
    color: var(--pix-information-dark);
    font-weight: bold;
  }

  &__header{
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
  }
}
