.session-info {

  .pix-button svg {
    margin-right: 6px;
  }

  &__certification-officer-assigned {
    display: flex;
    justify-content: flex-end;

    span {
      color: var(--pix-content-dark);
      font-style: italic;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__copy-button {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;

    p {
      position: absolute;
      top: calc(-23px + -10px + -10px);
      padding: 5px 10px;
      color: var(--pix-neutral-0);
      background-color: var(--pix-neutral-900);
      border-radius: 6px;

      &::before {
        position: absolute;
        bottom: -10px;
        left: calc(50% - 5px);
        border-color: var(--pix-neutral-900) transparent transparent transparent;
        border-style: solid;
        border-width: 5px;
        content: '';
      }
    }
  }

  &__download-button {
    margin: 0 10px;
  }

  &__published-buttons {
    display: flex;
    flex-direction: row;
  }
}
