@use 'pix-design-tokens/typography';

.breadcrumb > ol {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;

  h1 {
    display: inline;

    @extend %pix-title-s;
  }

  > svg {
    width: 1.2rem;
    margin: 0 0.4rem;
  }
}
