/* stylelint-disable selector-class-pattern */
.menu-bar {
  width: 100%;
  color: var(--pix-neutral-0);

  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .menu-bar__entry {
      margin: 10px 0 0;
      padding: 0 15px;

      a {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }

        &.active {
          font-weight: 600;
          background-color: var(--pix-neutral-500);
        }

        svg {
          width: 32px;
          margin: 0 10px;
          fill: var(--pix-neutral-100);
        }

        &:hover svg,
        &.active svg {
          fill: var(--pix-neutral-0);
        }
      }
    }
  }
}
