.sco-whitelist-configuration {
  .block-layout__actions{
    display: block;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: var(--pix-spacing-6x);
    margin-top: var(--pix-spacing-6x);
  }
}
