@use 'pix-design-tokens/breakpoints';

.challenge-content {
  display: grid;
  grid-row-gap: var(--pix-spacing-4x);
  grid-column-gap: var(--pix-spacing-6x);
  grid-template-columns: 1fr;
  margin: 16px 140px 0;
  transition: all 0.4s;

  @include breakpoints.device-is('tablet') {
    margin: 16px 120px 0;
  }

  &__grid-multiple-element {
    grid-template-areas:
    "left  right"
    "left actions";
    grid-template-columns: 1fr 1fr;

    &--40-60 {
      grid-template-columns: 2fr 3fr;
    }

    &--60-40 {
      grid-template-columns: 3fr 2fr;
    }

    div:nth-child(1) {
      grid-area: left;
    }

    div:nth-child(2) {
      grid-area: right;
    }

    div:nth-child(3) {
      grid-area: actions;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__autoreply {
    display: none;
  }
}

