.challenge-content {
  display: flex;
  align-content: center;
  margin: 16px 140px 0;
  transition: all 0.4s;

  @include device-is('tablet') {
    margin: 16px 120px 0;
  }

  &--single-display {
    flex-direction: column;
  }

  &__media {
    width: 50%;
    height: fit-content;
    margin-right: var(--pix-spacing-6x);

    &--single-display {
      width: unset;
      margin-right: unset;
    }

    &--framed {
      padding: var(--pix-spacing-4x);
      background-color: var(--pix-neutral-0);
      border-radius: 24px;
      box-shadow: 0 0 1px 0 var(--pix-primary-500), 8px 8px 32px -8px rgb(63 125 216 / 35%);
    }
  }

  &__proposals {
    width: 50%;

    &--single-display {
      width: unset;
    }
  }

  &__qrocm {
    align-items: center;
  }

  &__qcm, &__qcu {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__autoreply {
    width: 0;
  }
}

