.challenge-layout {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 48px);
  padding: var(--pix-spacing-4x);
  border-radius: 24px;

  &--default {
    background-color: rgb(var(--pix-primary-500-inline), 10%);
  }

  &--error {
    background-color: rgb(var(--pix-error-500-inline), 10%);
    border: 2px solid var(--pix-error-500);
  }

  &--success {
    background-color: rgb(var(--pix-success-500-inline), 10%);
    border: 2px solid var(--pix-success-500);
  }

  &--feedback {
    background-color: rgb(var(--pix-secondary-500-inline), 10%);
  }

  &--feedback--success {
    background-color: rgb(var(--pix-secondary-500-inline), 10%);
    background-image: url("/images/background-stars-success.svg");
  }

  &--result {
    background-color: rgb(var(--pix-secondary-500-inline), 10%);
  }

  &--result--success {
    background-color: rgb(var(--pix-secondary-500-inline), 10%);
    background-image: url("/images/background-success-result-page.svg");
  }
}
