{{#if @model.isBeta}}
  <div class="modulix-beta-banner">
    <Module::Layout::BetaBanner />
  </div>
{{/if}}

<div class="modulix">
  <Module::Instruction::Details @module={{@model}} />
</div>
<Footer />