@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.description-list-container {
  container-type: inline-size;
}

.description-list {
  @extend %pix-body-s;

  display: grid;
  grid-template-columns: auto 1fr;
  margin-block: var(--pix-spacing-3x);
  border-bottom: 1px solid var(--pix-primary-100);

  dt, dd {
    padding-block: var(--pix-spacing-2x);
    border-top: 1px solid var(--pix-primary-100);
  }

  dt {
    padding-right: var(--pix-spacing-6x);
    font-weight: var(--pix-font-bold);
    /* stylelint-disable custom-property-pattern */
    font-family: var(--_pix-font-family-title);
  }

  dd {
    a {
      color: var(--pix-primary-500);
      text-decoration: underline;
    }
  }
}

@container (max-width: 30rem) {
  .description-list {
    display: block;

    dt {
      padding-right: 0;
      padding-bottom: var(--pix-spacing-1x);
    }

    dd {
      padding-top: 0;
      border-top: none;
    }
  }
}
