@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

/* stylelint-disable custom-property-pattern */
.description-list {
  display: flex;
  flex-direction: column;

  > div {
    @extend %pix-body-s;

    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: var(--pix-spacing-3x);

    dt {
      font-weight: var(--pix-font-bold);
      font-family: var(--_pix-font-family-title);
    }

    dd {
      grid-column: span 3 / span 3;

      a {
        color: var(--pix-primary-500);
        text-decoration: underline;
      }
    }
  }

  @include breakpoints.device-is('mobile'){
    gap: var(--pix-spacing-1x);

    > div {
      display: flex;
      flex-direction: column;
      gap: 0;

      dd {
        grid-column: auto;
      }
    }
  }

  &__divider {
    margin: var(--pix-spacing-3x) 0;
    border-top: 1px solid var(--pix-primary-100);
  }
}
