.element-audio{
  &__container {
    padding: var(--pix-spacing-4x);
    border: 1px solid var(--pix-neutral-100);
    border-radius: 8px;

    &__title {
      margin: 0 10px 0 0;
    }
  }
}

.pix-audio-player {
  width: 50%;
}
