@use 'pix-design-tokens/typography';

message-conversation::part(conversation) {
  background-color: var(--pix-primary-10);
}

.element-custom {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__container {
    padding: var(--pix-spacing-2x);
    border: 2px dashed var(--pix-primary-700);
    border-radius: var(--pix-spacing-2x);
  }

  &__legend {
    @extend %pix-body-s;

    display: inline-flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    padding: 0 var(--pix-spacing-2x);
    color: var(--pix-primary-700);
  }

  &__reset {
    display: flex;
    justify-content: flex-end;
  }
}
