.element-custom-draft {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__iframe {
    display: block;
    width: 100%;
    overflow: hidden;
    border: none;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
