@use 'pix-design-tokens/typography';

message-conversation::part(conversation) {
  background-color: var(--pix-primary-10);
}

.element-custom {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__container {
    padding: var(--pix-spacing-2x);
    border: 2px dashed var(--pix-primary-700);
    border-radius: var(--pix-spacing-2x);
  }

  &__legend {
    @extend %pix-body-s;

    display: inline-flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    padding: 0 var(--pix-spacing-2x);
    color: var(--pix-primary-700);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }

  &--reset-state{
    background-color: var(--pix-primary-10);
    border-radius: 16px 16px 16px 0;
  }

  &--reset-intercative-state{
    border-radius: 16px 16px 16px 0;
  }
}

.element-custom-buttons {
  &__reset {
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    background-color: var(--pix-primary-100);
    border: none;
    border-radius: 0 0 8px 8px;
  }
}
