@use 'pix-design-tokens/typography';

.element-download {
  &__intro {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__description {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__links-container {
    margin: var(--pix-spacing-3x) 0;
  }

  &__link {
    padding: var(--pix-spacing-6x) var(--pix-spacing-4x);
    text-align: center;
    background: var(--pix-neutral-0);
    border: 1px solid var(--pix-neutral-100);
    border-radius: 16px;
  }

  &__documentation-link {
    @extend %pix-body-m;

    display: block;
    color: var(--pix-info-700);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.element-download-intro {
  &__info-icon {
    color: var(--pix-neutral-500);
  }
}

.element-download-link {
  &__format {
    @extend %pix-body-m;

    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__button {
    display: inline-block;
  }
}
