:root {
  --embed-overlay-color: rgb(0 0 0 / 55%);
}

.element-embed {
  &__container {
    position: relative;
  }

  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}

.element-embed-container {
  &__iframe {
    display: block;
    width: 100%;
    overflow: hidden;
    border: none;

    &--blurred {
      filter: blur(5px);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--embed-overlay-color);
    border-radius: var(--modulix-radius-xs);
  }
}

.element-embed-buttons {
  &__retry {
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    background-color: var(--pix-primary-100);
    border: none;
    border-radius: 0 0 8px 8px;
  }
}
