@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.element-qcm {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__proposals, &__short-proposals, &__3-short-proposals {
    margin: var(--pix-spacing-4x) 0;
  }

  &__short-proposals, &__3-short-proposals {
    display: grid;
    gap: var(--pix-spacing-3x);

    .pix-checkbox + .pix-checkbox {
      margin: 0;
    }
  }

  &__short-proposals {
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-short-proposals {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoints.device-is('mobile') {
    &__short-proposals, &__3-short-proposals {
      grid-template-columns: 1fr;
    }
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }
}
