@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.element-qcm {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__proposals, &__short-proposals, &__3-short-proposals {
    margin: var(--pix-spacing-4x) 0;

    @media (not (prefers-reduced-motion: reduce)) {
      .pix-label-wrapped--state-success,
      .pix-label-wrapped--state-error {
        transition:
          border 0.25s 0.25s,
          color 0.25s 0.25s;
      }
    }

    .pix-checkbox .pix-label-wrapped--state-error {
      color: var(--pix-warning-700);
      background-color: var(--state-background-color);
      border-color: var(--pix-warning-700);

      --state-background-color: var(--pix-warning-50);
    }

    .pix-checkbox .pix-label-wrapped--state-success {
      color: var(--pix-success-700);
      background-color: var(--state-background-color);
      border-color: var(--pix-success-700);

      --state-background-color: var(--pix-success-50);
    }
  }

  &__short-proposals, &__3-short-proposals {
    display: grid;
    gap: var(--pix-spacing-3x);

    .pix-checkbox + .pix-checkbox {
      margin: 0;
    }
  }

  &__short-proposals {
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-short-proposals {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoints.device-is('mobile') {
    &__short-proposals, &__3-short-proposals {
      display: flex;
      flex-direction: column;
    }
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }
}
