@use 'pix-design-tokens/typography';

.element-qcu-discovery {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__proposals {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-3x);
    margin: var(--pix-spacing-4x) 0;
  }

  &__feedback {
    color: var(--pix-neutral-800);
    background: var(--pix-info-100);
  }
}
