@use 'pix-design-tokens/typography';

.element-qcu {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__proposals {
    margin: var(--pix-spacing-4x) 0;

    @media (not (prefers-reduced-motion: reduce)) {
      .pix-label-wrapped--state-success,
      .pix-label-wrapped--state-error {
        transition:
          border 0.25s 0.25s,
          color 0.25s 0.25s;
      }
    }
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__feedback {
    margin-bottom: var(--pix-spacing-4x);
  }
}
