@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.element-qcu-discovery {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__short-proposals, &__proposals, &__3-short-proposals {
    gap: var(--pix-spacing-3x);
    margin: var(--pix-spacing-4x) 0;
  }

  &__proposals {
    display: flex;
    flex-direction: column;
  }

  &__short-proposals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-short-proposals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoints.device-is('mobile') {
    &__short-proposals, &__3-short-proposals {
      grid-template-columns: 1fr;
    }
  }
}
