@use 'pix-design-tokens/typography';

.element-qrocm {
  &__instruction {
    margin-bottom: var(--pix-spacing-2x);
    font-weight: var(--pix-font-bold);
  }

  &__direction {
    @extend %pix-body-s;

    color: var(--pix-neutral-500);
  }

  &__proposals {
    margin: var(--pix-spacing-4x) 0;
  }

  &__required-field-missing {
    margin-bottom: var(--pix-spacing-4x);
  }
}

.element-qrocm-proposals {
  &__input {
    line-height: var(--pix-spacing-12x);

    &--block {
      display: block;
      width: fit-content;
    }
  }
}

.element-qrocm__proposals > *:not(.element-qrocm-proposals__input--block, span) {
  display: inline-block;
}
