@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.update-email-with-validation {
  display: flex;
  flex-direction: column;

  @include breakpoints.device-is('desktop') {
    padding: 10px 0;
  }

  &__title {
    @extend %pix-title-s;

    padding-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    text-align: center;

    @include breakpoints.device-is('tablet') {
      text-align: start;
    }
  }

  &__password-input,
  &__email-input {
    display: flex;
    flex-direction: column;
    max-width: 260px;

    @include breakpoints.device-is('mobile') {
      max-width: 100%;
    }
  }

  &__email-input {
    padding-bottom: 32px;
  }

  &__password-input {
    padding-bottom: 20px;
  }

  &__informations {
    padding: 32px 0 16px;
    color: var(--pix-neutral-800);
    font-size: 0.875rem;
    font-family: fonts.$font-roboto;
    line-height: 1.5rem;
    border-top: 1px solid var(--pix-neutral-20);

    @include breakpoints.device-is('tablet') {
      margin-right: 8px;
      line-height: 1.2rem;
      letter-spacing: 0.13px;
    }

    p {
      margin: 0;
    }
  }

  &__action-buttons {
    display: flex;
    padding-top: 20px;

    button:last-child {
      margin-left: 24px;
    }

    @include breakpoints.device-is('mobile') {
      flex-direction: column-reverse;

      button:last-child {
        margin-bottom: 16px;
        margin-left: 0;
      }
    }
  }
}
