{{page-title @model.name}}

<Global::AppLayout>
  <main id="main" class="competence-details global-page-container" role="main">
    <ScorecardDetails @scorecard={{@model}} />
  </main>
</Global::AppLayout>