@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

/* stylelint-disable color-no-hex */
.organization-information-section {
  &__archived-message {
    margin-top: var(--pix-spacing-3x);
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--pix-spacing-1x);

    @include breakpoints.device-is('mobile'){
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &--enabled {
      svg {
        color: var(--pix-success-300);
      }
    }

    &--disabled {
      color: #abadb2;
    }

    li {
      display: inline-flex;
      flex-wrap: flex-start;
      gap: var(--pix-spacing-2x);
      align-items: center;

      > svg {
        flex-shrink: 0;
      }
    }
  }
}
