.organization-information-section {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__archived-message {
    margin-bottom: 16px;
  }

  &__details {
    &__list {
      margin-bottom: var(--pix-spacing-6x);
    }

    .form-actions {
      padding-bottom: 2px;
    }
  }
}
