@use 'pix-design-tokens/typography';

.organization-information-section {
  &__archived-message {
    margin-top: var(--pix-spacing-3x);
  }

  &__details {
    dl {
      display: flex;
      flex-direction: column;
      gap: var(--pix-spacing-1x);

      .divider {
        border-top: 1px solid var(--pix-primary-100);
        margin: var(--pix-spacing-3x) 0;
      }

      div {
        @extend %pix-body-m;

        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: var(--pix-spacing-3x);

        dt {
          font-weight: var(--pix-font-bold);
        }

        dd {
          grid-column: span 2 / span 2;
        }
      }
    }
  }
}
