@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.session-supervising-candidate-list-background {
  background: var(--pix-certif-500);
  border-radius: 18px 18px 0 0;
  flex-grow: 1;
  padding: 32px 16px;

  .session-supervising-candidate-list {
      margin: auto;

    @include breakpoints.device-is("tablet") {
      max-width: 800px;
    }

    &__title {
      @extend %pix-title-s;
      color: var(--pix-neutral-0);
    }

    &__description {
      @extend %pix-body-s;
      color: var(--pix-neutral-0);
    }

    &__candidates {
      list-style: none;
      padding: 0;

      > li {
        background: rgb(var(--pix-neutral-900-inline), 40%);
      }
    }

    &__empty-image {
      display: block;
      margin: 20px auto;
    }

    &__empty-message {
      color: var(--pix-neutral-20);
      @extend %pix-title-xs;
      font-size: 1.125rem;
      font-weight: 600;
      margin: auto;
      max-width: 225px;
      text-align: center;
    }

    &__search {
      align-items: center;
      background-color: var(--pix-neutral-0);
      border-radius: 4px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      height: 44px;
      margin: var(--pix-spacing-4x) 0;
      padding: 0 var(--pix-spacing-4x);
      width: 100%;
    }

    &__candidates-count {
      display: flex;
      justify-content: flex-start;
      color: var(--pix-neutral-0);
      font-size: 0.875rem;
      font-weight: normal;
      height: 14px;
      letter-spacing: 0;
      margin: var(--pix-spacing-4x) 0 var(--pix-spacing-6x);
    }

    .search-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--pix-neutral-100);
    }

    .search-input {
      border: none;
      box-shadow: none;
      color: var(--pix-neutral-900);
      font-size: 1rem;
      padding: 0 10px;
      width: 100%;
    }

    .clear-button {
      width: 30px;
      padding: 5px;
    }

    .pix-input {
      flex: 1;
    }
  }
}
