.handle-live-alert-modal {
  &__footer {
    width: 100%;
  }

  &__actions-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: var(--pix-spacing-3x);
    margin-top: 16px;
  }
}
