@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.session-supervising-header {
  background: var(--pix-neutral-20);
  padding: var(--pix-spacing-10x) var(--pix-spacing-6x);

  @include breakpoints.device-is("desktop") {
    align-self: center;
    padding: var(--pix-spacing-10x) 0 var(--pix-spacing-8x) 0;
    width: 800px;
  }

  &__quit {
    float: right;

    svg {
      margin-right: var(--pix-spacing-2x);
      width: 1rem;
      height: 1rem;
      fill: var(--pix-primary-700);
    }
  }

  &__title {
    @extend %pix-title-s;
    font-weight: normal;
    margin-bottom: 4px;
  }

  &__date {
    color: var(--pix-neutral-500);
    display: block;
    font-size: 0.875rem;
    margin-bottom: 16px;
  }

  &__line {
    align-items: center;
    border-bottom: 1px solid var(--pix-neutral-100);
    color: var(--pix-neutral-800);
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
    padding: 8px 0;

    &:last-child {
      border-bottom: unset;
      margin-bottom: var(--pix-spacing-4x);
    }
  }

  &__label {
    color: var(--pix-neutral-500);
    display: inline-block;
    flex-shrink: 0;
    font-weight: normal;
    margin-right: 8px;
  }

  &__invigilator-link {
    align-items: center;
    gap: var(--pix-spacing-1x);

    svg {
      width: 1rem;
      height: 1rem;
      fill: var(--pix-primary-500);
    }
  }

  &__download-button {
    margin-top: var(--pix-spacing-3x);

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: var(--pix-spacing-1x);
    }
  }
}
