.session-list {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-3x);

  &__assigned-to-process-session {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--pix-spacing-3x);
  }
}

.session-to-be-publish {
  &__publish-all {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--pix-spacing-3x);
  }
}
