.session-list {
  display: flex;
  flex-direction: column;

  &__navbar {
    display: flex;
    margin: 20px 10px 10px;
  }

  &__assigned-to-process-session {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--pix-spacing-3x);
  }

  &__item--align-center {
    text-align: center;
  }
}

.session-to-be-publish {
  &__publish-all {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--pix-spacing-3x);
  }
}
