@use 'pix-design-tokens/typography';

.combined-course-page {
  display: flex;
  flex-direction: row;
  gap: var(--pix-spacing-6x);
  justify-content: space-around;
  padding-top: var(--pix-spacing-8x);
  padding-bottom: var(--pix-spacing-8x);

  &__title {
    @extend %pix-title-m;
  }

  &__form {
    display: inline-flex;
    flex: 0 1 30rem;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
  }

  &__form-addItem {
    display: inline-flex;
    gap: var(--pix-spacing-4x);
    align-items: end;
  }

  &__input {
    max-width: 30rem;
  }

  &__button {
    width: fit-content;
  }

  &__separator {
    margin-right: 0;
    margin-left: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-3x);
  }

  &__fieldset {
    display: inline-flex;
    gap: var(--pix-spacing-4x);
    align-items: center;

    .pix-radio-button {
      margin-top: 0;
    }
  }

  &__items {
    display: inline-flex;
    flex: 0 0 50%;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
  }



}
