@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.session-edition-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: var(--pix-spacing-3x);

  @include breakpoints.device-is('desktop') {
    max-width: 500px;
    gap: var(--pix-spacing-6x);
  }

  &__mandatory-information {
    @extend %pix-body-m;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    margin-top: var(--pix-spacing-4x);
    display: flex;
    justify-content: flex-end;
    gap: var(--pix-spacing-6x);
  }

  &__textarea {
   height: 140px;
  }

  &__error {
    padding-top: var(--pix-spacing-1x);
    font-size: 0.75rem;
  }
}
