@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.team {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--pix-spacing-3x);

    @include breakpoints.device-is('tablet') {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }

  }
  &__header-admin-buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--pix-spacing-4x);
  }

  &__tabs {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__no-referer-container {
    margin-bottom: 24px;
    padding: 6px;
  }

  &__no-referer-container-grey {
    padding: 16px;
    background: var(--pix-neutral-20);
    display: flex;
  }

  &__no-referer-title {
    @extend %pix-title-s;

    margin: 0 0 4px;
  }

  &__no-referer-description {
    @extend %pix-body-m;

    color: var(--pix-neutral-500);
    margin: var(--pix-spacing-4x) 0;
  }

  &__no-referer-icon {
    width: 50px;
    height: 130px;
    margin-right: var(--pix-spacing-6x);
    margin-left: var(--pix-spacing-4x);
    fill: var(--pix-neutral-500);
  }
}
