@use 'pix-design-tokens/breakpoints';

$margin-right: 32px;

.organization-participant {
  &__last-participation {
    display: flex;
    gap: var(--pix-spacing-2x);
    justify-content: center;
  }

  &__align-element {
    display: inline-flex;
    gap:var(--pix-spacing-2x);
    justify-content: center;

    &--column {
      flex-direction:column;
      align-items: center;
    }
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__import-students-button {
    display: flex;

    > a {
      margin-right: 16px;
    }

    > a:last-child {
      margin-right: 0;
    }
  }

  &__actions {
    text-align: right;
  }

  &__dropdown-button {
    margin-right: $margin-right;

    @include breakpoints.device-is('tablet') {
      margin-right: 12px;
    }
  }

  &__dropdown-content {
    right: $margin-right;
    width: 200px;
  }

  &__tag {
    white-space: normal;
  }
}
