{{page-title "Certification complémentaire " @model.id " | Pix Admin" replace=true}}

<ComplementaryCertifications::Item::Header @complementaryCertification={{@model}} />

<section class="page-body complementary-certification complementary-certification__header">
  {{outlet}}
</section>