{{page-title "Certification complémentaire " @model.id " | Pix Admin" replace=true}}

<ComplementaryCertifications::Item::Header @complementaryCertification={{@model}} />

<main class="page-body complementary-certification complementary-certification--no-tabs">
  {{outlet}}
</main>