<header class="page-header">
  <h1>Toutes les certifications complémentaires</h1>
</header>

<main class="page-body">
  <section class="page-section">
    <ComplementaryCertifications::List @complementaryCertifications={{@model}} />
  </section>
</main>