.pix-select {
  min-width: 110px;
  margin-right: 16px;
}

.pix-select .pix-icon {
  width: 1.35rem;
  height: 1.35rem;
}

.user-list-form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;

  &__input--small {
    max-width: 150px;
  }

  &__actions {
    display: flex;
    gap: 8px;
  }
}
