.user-list-form {
  margin-bottom: var(--pix-spacing-3x);

  .pix-select {
    min-width: 7.5rem;
  }

  &__input--small {
    max-width: 9.35rem;
  }

  &__actions {
    display: flex;
    gap: var(--pix-spacing-2x);
  }
}
