@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/breakpoints';

.badge-details {
  display: flex;
  flex-direction: column;

  @include breakpoints.device-is('tablet') {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: var(--pix-spacing-3x);
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    background-color: var(--pix-neutral-0);
    border: 1px var(--pix-primary-100) solid;
    border-radius: var(--pix-spacing-2x);

    @include breakpoints.device-is('tablet') {
      height: 300px;
      margin-bottom: 0;
    }
  }

  &__tag:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.badge-edit-form {
  width: 50%;

  &__field {
    margin-bottom: 1rem;

    .pix-input {
      width: 100%;
    }
  }

  &__checkboxes {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.badge-criterion__header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pix-spacing-2x) var(--pix-spacing-4x);
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--pix-spacing-3x);
}

.badge-criterion__title {
  @extend %pix-title-xs;

  &:not(:first-child) {
    margin-top: var(--pix-spacing-2x);
    padding-top: var(--pix-spacing-6x);
    border-top: 1px dashed var(--pix-neutral-100);
  }
}

.capped-tubes-criterion__text {
  margin-block: var(--pix-spacing-2x) var(--pix-spacing-4x);
}
