@use 'pix-design-tokens/typography';

.certification-details-v3 {
   &__container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: var(--pix-spacing-4x);
   }

  &__title {
    @extend %pix-title-xs;
    padding-bottom: var(--pix-spacing-3x);
    color : var(--pix-neutral-800);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    dd, dt {
      display: flex;
      align-items: center;
      padding: var(--pix-spacing-2x) 0;
      border-bottom: var(--pix-neutral-100) 1px solid;
    }

    dt {
      color: var(--pix-neutral-500);
    }

    dd {
      color: var(--pix-neutral-900);
    }
  } }

.certification-details-v3-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--pix-spacing-6x);
}

.certification-details-v3-list {
  &__completion-date {
    margin-right: var(--pix-spacing-4x);
  }
}

.certification-details-v3-table {

  &__challenge-information-cell {
    width: 17%;

    & a, a:visited {
      align-items: center;
      display: flex;
      gap: var(--pix-spacing-1x);

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__challenge-action-cell {
    display: flex;
    align-items: flex-end;
    gap: var(--pix-spacing-1x);

    & a, a:visited, button {
      color: inherit;
    }
  }
}

.certification-details-v3-modal{
  &__live-alert-subcategory {
    font-weight: var(--pix-font-bold);
  }
}
