@charset "utf-8";
@use 'pix-design-tokens/breakpoints';
@use 'globals/forms' as *;
@use 'globals/modals' as *;
@use 'globals/pages' as *;
@use 'globals/panels' as *;
@use 'globals/tables' as *;
@use 'globals/texts' as *;
@use 'globals/titles' as *;
@use 'pages/login' as *;
@use 'pages/session-supervising' as *;
@use 'pages/session-supervising-error' as *;
@use 'pages/authenticated/restricted-access' as *;
@use 'pages/authenticated/sessions' as *;
@use 'pages/authenticated/sessions/add-student' as *;
@use 'pages/authenticated/sessions/details' as *;
@use 'pages/authenticated/sessions/import' as *;
@use 'pages/authenticated/sessions/list-items' as *;
@use 'pages/authenticated/sessions/no-session-panel' as *;
@use 'pages/authenticated/sessions/details/certification-candidates' as *;
@use 'pages/authenticated/sessions/details/certification-candidates-sco' as *;
@use 'pages/authenticated/team' as *;
@use 'pages/authenticated/team/invite' as *;
@use 'pages/terms-of-service' as *;
@use 'pages/join' as *;
@use 'components/auth/toggable-login-form' as *;
@use 'components/add-student-list' as *;
@use 'components/add-issue-report-modal' as *;
@use 'components/certification-candidate-details-modal/index' as *;
@use 'components/certification-candidate-details-modal/row' as *;
@use 'components/edit-candidate-modal' as *;
@use 'components/issue-report-modal' as *;
@use 'components/layout/footer' as *;
@use 'components/layout/sidebar' as *;
@use 'components/layout/banners' as *;
@use 'components/locale-switcher' as *;
@use 'components/login-form' as *;
@use 'components/login-or-register' as *;
@use 'components/login-session-supervisor' as *;
@use 'components/finalize' as *;
@use 'components/new-candidate-modal' as *;
@use 'components/members-list-item' as *;
@use 'components/finalization-confirmation-modal' as *;
@use 'components/register-form' as *;
@use 'components/select-referer-modal' as *;
@use 'components/session-finalization-step-container' as *;
@use 'components/session-delete-confirm-modal' as *;
@use 'components/session-finalization/reports-information-step' as *;
@use 'components/session-finalization/complementary-information-step' as *;
@use 'components/session-supervising/header' as *;
@use 'components/session-supervising/candidate-in-list' as *;
@use 'components/session-supervising/candidate-list' as *;
@use 'components/session-supervising/handle-live-alert-modal' as *;
@use 'components/session-supervising/live-alert-handled-modal' as *;
@use 'components/team/invitations-list' as *;
@use 'components/team/change-member-role-modal' as *;
@use 'components/dropdown' as *;
@use 'flatpickr' as *;

/* App/Components */

body,
html {
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  color: var(--pix-neutral-900);
  background-color: var(--pix-neutral-20);
}

body > .ember-view {
  height: 100%;
}

input:invalid {
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

@include breakpoints.device-is('mobile') {
  .hide-on-mobile {
    display: none;
  }
}
