@use 'pix-design-tokens/breakpoints';

.session-list-page {
  display: flex;
  flex-direction: column;
  width: 100%;

  footer {
    padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  }
}

.session-list {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: var(--pix-spacing-3x);

    @include breakpoints.device-is('tablet') {
      flex-direction: row;
      margin-bottom: 0;
    }
  }
}

.session-list-header__actions {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-2x);

  @include breakpoints.device-is('tablet') {
    flex-direction: row;
  }
}
