@use 'pix-design-tokens/fonts';

.certifications-page {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__tabs {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__text {
    margin: 2px 0 32px 0;
    color: var(--pix-neutral-500);
    font-size: 1rem;
    font-family: fonts.$font-roboto;
    line-height: 1.45rem;
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pix-spacing-4x);
    align-items: flex-end;
    min-width: 100%;
    margin-bottom: var(--pix-spacing-10x);
  }

  .pix-message {
    max-width: max-content;
  }
}

.certifications-page-header {
  &__add-member-button {
    margin-top: 20px;
    margin-left: auto;
  }
}

.certifications-page-action {
  &__link {
    display: inline-flex;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
