.terms-of-service-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--pix-orga-500);
}

.terms-of-service-acceptation {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
  max-width: 700px;
  padding: var(--pix-spacing-8x);
  background: var(--pix-neutral-0);
  border-radius: var(--pix-spacing-2x);

  &__illustration {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-6x);
    align-items: center;
    padding: var(--pix-spacing-2x) 0;
  }

  &__link {
    @extend %pix-body-l;

    display: flex;
    gap: var(--pix-spacing-1x);
    align-items: center;
    font-weight: var(--pix-font-bold);
    text-decoration: underline;
  }

  &__actions {
    display: flex;
    gap: var(--pix-spacing-6x);
    padding-top: var(--pix-spacing-4x);
    border-top: 1px solid var(--pix-neutral-100);
  }

  &__accept-action {
    flex-grow: 1;
  }
}

