@use 'assessment/results/evaluation-sent-results-modal';
@use 'assessment/results/quit-results';
@use 'assessment/results/evaluation-results-tabs/results-details';
@use 'assessment/results/evaluation-results-tabs/rewards';
@use 'assessment/results/evaluation-results-tabs/trainings';
@use 'invited/learner-reconciliation';
