.session-finalization-reports {
  margin-top: var(--pix-spacing-4x);

  &__information {
    margin: var(--pix-spacing-2x);
  }

  &__checker {
    .pix-checkbox__label {
      font-size: 0.8125rem;
    }
  }

  .finalization-report-examiner-comment {
    display: flex;
    flex-direction: column;

    .add-button {
      color: var(--pix-neutral-800);
      display: flex;
      gap: 4px;
      width: fit-content;
      align-items: center;

      svg {
        fill: var(--pix-neutral-800);
        width: 1rem;
        height: 1rem;
      }
    }

    p {
      color: var(--pix-neutral-800);
      font-weight: 700;
    }
  }

  &__header-cancel {
    display: flex;

    svg {
      fill: var(--pix-neutral-800);
      width: 1rem;
      height: 1rem;
    }

    .pix-tooltip {
      padding-left: 5px;
      cursor: help;
    }

    .pix-tooltip__content--wide {
      width: 600px;
    }

    ul {
      margin-left: 10px;

      li {
        list-style-type: disc;

        li {
          list-style-type: "- ";
        }
      }
    }
  }
}
