@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.certification-not-certifiable__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  padding: var(--pix-spacing-8x);
  text-rendering: optimizelegibility;

  @include breakpoints.device-is('desktop') {
    padding: 50px 70px 40px;
  }
}

.certification-not-certifiable__button {
  margin-top: 20px;
}

.certification-not-certifiable__title {
  @extend %pix-title-m;

  text-align: center;
}

.certification-not-certifiable__text {
  @extend %pix-body-l;

  margin-top: var(--pix-spacing-4x);
  text-align: center;

  @include breakpoints.device-is('desktop') {
    max-width: 850px;
  }
}
