@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.certification-not-certifiable {

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--pix-spacing-3x) 0;
    padding: var(--pix-spacing-4x) var(--pix-spacing-4x) var(--pix-spacing-12x) var(--pix-spacing-4x);

    @include breakpoints.device-is('tablet') {
      margin: var(--pix-spacing-6x) 0;
    }
  }

  &__button {
    margin-top: 20px;
  }

  &__title {
    @extend %pix-title-m;
  }

  &__text {
    @extend %pix-body-l;

    margin-top: var(--pix-spacing-4x);
    text-align: center;
  }
}
