@keyframes progress {

  from {
    stroke-dasharray: 0 100;
  }
}

.circle-chart {
  position: relative;
  width: 100px;
  height: 100px;

  &--small {
    width: 70px;
    height: 70px;
  }

  &--big {
    width: 120px;
    height: 120px;
  }
}

.circle-chart__circle {
  width: 100%;
  height: 100%;
}

.circle {
  fill: none;
  stroke-width: 1.1;
  stroke: var(--pix-neutral-100);
  stroke-linecap: round;

  &--thick {
    stroke-width: 1.5;
  }

  &--slice {
    animation: progress 1s ease-out forwards;
    stroke: var(--pix-information-light);
  }

  &--jaffa {
    stroke: var(--pix-information-light);
  }

  &--emerald {
    stroke: var(--pix-content-light);
  }

  &--cerulean {
    stroke: var(--pix-communication-light);
  }

  &--wild-strawberry {
    stroke: var(--pix-security-light);
  }

  &--butterfly-bush {
    stroke: var(--pix-environment-light);
  }
}

.circle-chart__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
