@use 'pix-design-tokens/typography';

.combined-course {
  padding: var(--pix-spacing-12x) 80px;

  &-completed {
      display: flex;
      gap: var(--pix-spacing-4x);
      align-items: center;
      padding: var(--pix-spacing-6x);
      background: var(--pix-secondary-100);
      border: 1px solid var(--pix-secondary-500);
      border-radius: 16px;
      box-shadow: 2px 6px 0 1px var(--pix-secondary-700);

    .completed-text {
      display: flex;
      flex-direction: column;
      color: var(--pix-secondary-900);

      &__title {
        @extend %pix-title-s;

      }

      &__description {
        @extend %pix-body-m;

      }

    }


  }

  &__divider {
    margin: var(--pix-spacing-6x) 0;
    border-top: 1px solid var(--pix-neutral-100);
  }
}

.combined-course-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--pix-spacing-10x);
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  background: var(--pix-neutral-0);
  border: 1px solid var(--pix-primary-100);
  border-radius: var(--pix-spacing-4x);

  &__title {
    @extend %pix-title-xxs;
  }
}
