@use 'pix-design-tokens/typography';

.combined-course {
  padding: var(--pix-spacing-12x) 80px;

  &-completed {
    display: flex;
    gap: var(--pix-spacing-4x);
    align-items: center;
    padding: var(--pix-spacing-6x);
    background: var(--pix-secondary-100);
    border: 1px solid var(--pix-secondary-500);
    border-radius: 16px;
    box-shadow: 2px 6px 0 1px var(--pix-secondary-700);

    .completed-text {
      display: flex;
      flex-direction: column;
      color: var(--pix-secondary-900);

      &__title {
        @extend %pix-title-s;
      }

      &__description {
        @extend %pix-body-m;
      }

    }
  }

  &__divider {
    margin: var(--pix-spacing-6x) 0;
    border-top: 1px solid var(--pix-neutral-100);
  }

  &__header {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-2x);
  align-items: flex-start;
  align-self: stretch;
  padding: var(--pix-spacing-10x) 0 var(--pix-spacing-6x) 0;

    h1 {
      @extend %pix-title-m;
  }
  }

}

.combined-course-item {
  display: flex;
  gap: var(--pix-spacing-4x);
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--pix-spacing-10x);
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  background: var(--pix-neutral-0);
  border: 1px solid var(--pix-primary-100);
  border-radius: var(--pix-spacing-4x);

  &--formation {
    background: color-mix(in srgb, var(--pix-primary-100) 20%, transparent);
  }

  &__content {
    display: flex;
    gap: var(--pix-spacing-4x);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--pix-spacing-12x);
  }

  &__title {
    @extend %pix-title-xxs;
  }

  &__description {
    @extend %pix-body-s;
  }

  &__indicator {
    &--locked {
      display: flex;
      justify-content: center;
      min-width: var(--pix-spacing-8x);
      max-width: var(--pix-spacing-8x);

      svg {
        fill: var(--pix-primary-500);
      }
    }

    &--completed {
      @extend %pix-body-m;

      display: flex;
      gap: var(--pix-spacing-2x);
      align-items: center;
      color: var(--pix-primary-300);
      font-weight: var(--pix-font-bold);

      .combined-course-item__icon {
        width: var(--pix-spacing-8x);
        height: var(--pix-spacing-8x);
      }
    }
  }

  &__current-item-tag {
  display: flex;
  gap: var(--pix-spacing-1x);
  align-items: center;
  padding: 6px var(--pix-spacing-4x);
  background: var(--pix-tertiary-100);
  border-radius: 50px;
  }
}
