@use 'pix-design-tokens/typography';

.combined-course {
  padding: var(--pix-spacing-12x) 80px;

  &__divider {
    margin: var(--pix-spacing-6x) 0;
    border-top: 1px solid var(--pix-neutral-100);
  }
}

.combined-course-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  background: var(--pix-neutral-0);
  border: 1px solid var(--pix-primary-100);
  border-radius: var(--pix-spacing-4x);

  &__title {
    @extend %pix-title-xxs;
  }
}
