.congratulations-banner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 194px;
  color: $pix-neutral-10;
  background: $pix-content-dark;
  border-radius: 6px;
  text-rendering: optimizelegibility;
}

.congratulations-banner p {
  text-align: center;
}

.congratulations-banner__icon {
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: auto;
  left: auto;
  display: flex;
  color: $pix-neutral-0;
  font-size: 1.25rem;
  cursor: pointer;
  opacity: 0.5;

  &:hover,
  &:active {
    color: $pix-neutral-60;
  }
}

@mixin textBannerStyle {
  color: $pix-neutral-10;
  font-weight: $font-normal;
  font-family: $font-open-sans;
  line-height: 2rem;
  text-align: center;
}

.congratulations-banner__message {
  @include textBannerStyle;

  margin-bottom: 16px;
  font-size: 1.5rem;
}

.congratulations-banner__link {
  @include textBannerStyle;

  font-size: 0.875rem;

  &__icon {
    margin: auto 5px;
  }
}

@include device-is("mobile") {

  .congratulations-banner__message {
    padding: 0 8px;
  }
}
