@use 'pix-design-tokens/fonts';

.feedback-panel-v3 {
  margin-bottom: var(--pix-spacing-10x);
  color: var(--pix-neutral-800);
  font-size: 0.875rem;
  font-family: fonts.$font-roboto;

  &__refresh-info {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: var(--pix-font-bold);

    p {
      min-width: fit-content;
    }

    button {
      display: flex;
      gap: var(--pix-spacing-1x);
      align-items: center;
      margin: 0;
      padding: 0;
      color: var(--pix-primary-700);
      font-weight: var(--pix-font-bold);
    }
  }
}

/* "Link" view
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.feedback-panel-v3__view {
  display: flex;
  gap: 24px;
  font-weight: var(--pix-font-bold);
}

.feedback-panel-v3__action-buttons {
  display: flex;
  gap: 16px;

  > button {
    text-decoration: underline;

    &:first-of-type {
      color: var(--pix-error-700);
      font-weight: var(--pix-font-bold);
      text-decoration-color: var(--pix-error-700);
    }
  }
}

.feedback-panel-v3__information {
  margin-top: var(--pix-spacing-4x);
}
