@use 'pix-design-tokens/typography';

.focused-certification-challenge-instructions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    width: 158px;
    height: 158px;
  }

  &__title {
    @extend %pix-title-l;

    margin: var(--pix-spacing-6x) 0;
    color: var(--pix-neutral-800);
  }

  &__description {
    @extend %pix-body-l;

    max-width: 450px;
    margin-bottom: var(--pix-spacing-6x);
    color: var(--pix-neutral-800);
    text-align: center;
  }

  &__confirmation-button {
    margin-top: var(--pix-spacing-6x);
  }
}
