#footer {
  display: flex;
  gap: var(--pix-spacing-4x);
  align-items: flex-start;
  justify-content: space-between;
  width: min(100%, 1280px);
  margin: 0 auto;
  padding: var(--pix-spacing-6x) 20px;
  color: var(--pix-neutral-500);

  @include device-is('mobile') {
    flex-direction: column;
  }
}

.footer__logos {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;

  img {
    height: 54px;
  }

  .copyrights {
    @extend %pix-body-xs;

    flex: 100%;
  }
}

// Footer links
#footer .footer-links__list {
  text-align: right;
  text-wrap: pretty;

  @include device-is('mobile') {
    text-align: left;
  }

  li {
    display: inline-block;
    padding-block: 0.25em;

    @include device-is('mobile') {
      margin-right: 2ch;
    }

    @include device-is('tablet') {
      margin-left: 2ch;
    }
  }

  a {
    @extend %pix-body-s;

    &:hover, &:focus {
      color: var(--pix-primary-500);
    }
  }
}
