.login-form {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
  max-width: 360px;

  >  .pix-input, .pix-input-password {
    width: 100%;
  }

  &__error-message {
    margin-bottom: 10px;
    color: var(--pix-error-500);
    font-size: 0.75rem;
    font-family: $font-roboto;

    & a {
      text-decoration: underline;
    }
  }

  &__forgotten-password {
    margin: 16px 0;
    color: var(--pix-neutral-500);
    font-size: 0.75rem;
    line-height: 1.1875rem;
    letter-spacing: 0.009rem;
    text-align: left;
  }

  &__forgotten-password span {
    color: var(--pix-neutral-800);
    font-size: 0.875rem;
  }
}
