@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.no-certification-panel {
  @extend %pix-body-m;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: var(--pix-neutral-80);
  background-color: var(--pix-neutral-0);

  @include breakpoints.device-is('tablet') {
    margin: 0 50px;
    font-size: 1.25rem;
  }

  @include breakpoints.device-is('desktop') {
    margin: 0 100px;
  }
}
