@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';

.no-certification-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: var(--pix-neutral-80);
  font-size: 1.063rem;
  font-family: fonts.$font-open-sans;
  background-color: var(--pix-neutral-0);

  @include breakpoints.device-is('tablet') {
    margin: 0 50px;
    font-size: 1.25rem;
  }

  @include breakpoints.device-is('desktop') {
    margin: 0 100px;
  }
}
