@use 'pix-design-tokens/breakpoints';

.pix-logo {
  position: relative;
  display: inline-block;
  text-align: left;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &__image {
    display: block;
    max-width: unset;
    height: 3rem;

    @include breakpoints.device-is('desktop') {
      height: 3.75rem;
    }
  }
}
