@use 'pix-design-tokens/breakpoints';
@use '../globals/a11y' as *;

.qcu-proposals {
  a {
    color: var(--pix-primary-500);
    text-decoration: underline;

    @include breakpoints.device-is('tablet') {
      display: inline-block;
    }

    &:active,
    &:focus,
    &:hover {
      color: var(--pix-primary-700);
    }

    &::after {
      @include external-link;
    }
  }
}
