.register-form {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
  align-items: stretch;
  max-width: 360px;

  & .pix-input {
    width: 100%;
  }

  &__login-options {
    display: inline-block;
    margin-bottom: 5px;
    color: var(--pix-neutral-800);
    font-weight: var(--pix-font-bold);
    font-size: 0.875rem;
    font-family: $font-roboto;
  }

  &__required-inputs {
    color: var(--pix-neutral-500);
    font-weight: var(--pix-font-normal);
    font-size: 1rem;
    font-family: $font-roboto;
  }

  .register-button-container {
    display: flex;

    button {
      flex-grow: 1;
      margin-top: 25px;
    }
  }

  hr {
    height: 2px;
    margin: 20px 0;
    color: var(--pix-neutral-20);
    background-color: var(--pix-neutral-20);
    border: none;
  }

  &__reset-form-button {
    display: flex;
    gap: 6px;
    width: 100%;
    margin-top: 10px;
  }

  &__error {
    padding: 4px 10px;
    color: var(--pix-warning-700);
    font-size: 0.938rem;
    text-align: center;

    @include device-is('tablet') {
      padding: 10px 10px 0;
    }
  }

  &-username-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__label {
      color: var(--pix-neutral-800);
      font-weight: var(--pix-font-medium);
      font-size: 0.938rem;
      letter-spacing: 0.031rem;
    }

    &__span {
      padding: 15px 10px;
      color: var(--pix-neutral-100);
      font-size: 0.875rem;
      font-family: $font-roboto;
      background-color: var(--pix-neutral-20);
      border-radius: 3px;
    }
  }
}
