@use 'pix-design-tokens/typography';

.tutorial-card {
  display: flex;
  gap: 12px;
  min-height: 170px;
  padding: 16px;
  background: var(--pix-neutral-0);
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(var(--pix-neutral-900) 0.06);

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.tutorial-card-content {
  &__title {
    @extend %pix-title-xs;

    display: -webkit-box;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    a {
      color: var(--pix-neutral-900);

      &:hover,
      &:focus {
        color: var(--pix-primary-500);
      }
    }
  }

  &__details {
    @extend %pix-body-s;

    height: 24px;
    margin: 0;
    color: var(--pix-neutral-500);
  }

  &__actions {
    display: flex;
    flex: 1;
    gap: 13px;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
