@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';

.user-certifications-detail-result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 370px;
  height: 100%;
  color: var(--pix-neutral-800);
  font-size: 1.125rem;

  div {
    line-height: 1.625rem;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 1.125rem;
    font-family: fonts.$font-open-sans;
  }

  .pix-block {
    padding: 14px 16px;
  }

  &__complementary-certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    text-align: center;

    img {
      width: 190px;
      height: 190px;
    }

    span {
      margin-top: 10px;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &__jury {
    margin-bottom: 32px;
    padding: 14px 24px;

    &__info {
      font-size: 0.75rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    &__comment {
      font-size: 0.875rem;
    }

    p {
      font-weight: var(--pix-font-medium);
      font-family: fonts.$font-open-sans;
      line-height: 1.375rem;
    }
  }

  @include breakpoints.device-is('mobile') {
    min-width: 100%;
    padding: 16px;
  }

  @include breakpoints.device-is('tablet') {
    min-width: 100%;
  }

  @include breakpoints.device-is('desktop') {
    min-width: 30%;
    margin-left: 20px;
  }

  &__container {
    margin-bottom: 32px;
    padding: 14px 24px;

    @include breakpoints.device-is('mobile') {
      padding: 16px;
    }
  }
}
