@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/shadows';

.user-account {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-8x);
  margin-bottom: var(--pix-spacing-8x);

  &__title {
    @extend %pix-title-m;

    padding-top: var(--pix-spacing-10x);
    padding-bottom: var(--pix-spacing-6x);
    border-bottom: 1px solid var(--pix-primary-100);
  }

  &__container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--pix-spacing-6x);

    @include breakpoints.device-is('desktop') {
      grid-template-rows: 1fr;
      grid-template-columns: auto 1fr;
    }
  }

  &__navigation {
    min-width: 336px;
    height: max-content;
    background-color: var(--pix-neutral-0);
    border: 1px solid var(--pix-primary-100);
    border-radius: var(--pix-spacing-2x);

    @include breakpoints.device-is('desktop') {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  }

  &__section {
    @extend %pix-body-m;

    flex: 1;
    height: max-content;
    padding: var(--pix-spacing-6x);
    background-color: var(--pix-neutral-0);
    border: 1px solid var(--pix-primary-100);
    border-radius: var(--pix-spacing-2x);

    @include breakpoints.device-is('desktop') {
      padding: var(--pix-spacing-8x);
    }
  }
}


.user-account-legacy {
  margin-bottom: var(--pix-spacing-8x);

  .pix-background-header__content {
    max-width: 1280px;
  }

  &__title {
    @extend %pix-title-l;

    margin-bottom: var(--pix-spacing-8x);
    color: var(--pix-neutral-0);
  }

  &__navigation {
    @extend %pix-shadow-sm;

    height: max-content;
    background-color: var(--pix-neutral-0);
    border-radius: var(--pix-spacing-2x);
  }

  &__menu-and-content {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--pix-spacing-6x);
    height: max-content;

    @include breakpoints.device-is('mobile') {
      flex-wrap: wrap;
    }

    .pix-block {
      width: auto;
      min-width: 336px;
    }
  }

  &__content.pix-block {
    @extend %pix-body-m;

    flex-grow: 1;
    height: max-content;
    padding: var(--pix-spacing-8x);
    border-radius: var(--pix-spacing-2x);

    @include breakpoints.device-is('mobile') {
      min-width: 100%;
      max-width: 100%;
      margin: 0;
      padding: var(--pix-spacing-4x);
    }
  }
}
