@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.user-account {
  margin-bottom: var(--pix-spacing-8x);

  .pix-background-header__content {
    max-width: 1280px;
  }

  &__title {
    @extend %pix-title-l;

    margin-bottom: var(--pix-spacing-8x);
    color: var(--pix-neutral-0);
  }

  &__validation-title {
    @extend %pix-title-s;

    padding-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    text-align: center;

    @include breakpoints.device-is('tablet') {
      text-align: start;
    }
  }

  &__menu-and-content {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--pix-spacing-6x);

    @include breakpoints.device-is('mobile') {
      flex-wrap: wrap;
    }

    .pix-block {
      width: auto;
      min-width: 336px;
    }
  }

  &__content.pix-block {
    @extend %pix-body-m;

    flex-grow: 1;
    height: max-content;
    padding: var(--pix-spacing-8x);
    border-radius: var(--pix-spacing-2x);

    @include breakpoints.device-is('mobile') {
      min-width: 100%;
      max-width: 100%;
      margin: 0;
      padding: var(--pix-spacing-4x);
    }
  }

  &__error-message {
    @include breakpoints.device-is('tablet') {
      max-width: 520px;
      margin-bottom: 10px;
    }
  }
}
