@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.user-certification-hexagon-score {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  height: 194px;
  margin-right: 22px;
  background: url('/images/certificate/pix-score-hexagon.svg') no-repeat center center;
  background-size: 100% 100%;

  p {
    margin: 0;
  }

  &__content {
    padding-bottom: 7%;
    text-align: center;

    &-title {
      @extend %pix-body-s;

      color: var(--pix-neutral-500);
      font-weight: lighter;
      letter-spacing: 0.219rem;
      text-transform: uppercase;
    }

    &-pix-score {
      @extend %pix-title-m;

      color: var(--pix-neutral-800);
    }

    &-certified {
      color: var(--pix-neutral-500);
      font-weight: var(--pix-font-medium);
      font-size: 0.7rem;
      font-family: fonts.$font-roboto;
      text-transform: uppercase;
    }
  }
}
