@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.user-certifications-detail-result {
  @extend %pix-body-l;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 370px;
  height: 100%;
  color: var(--pix-neutral-800);

  div {
    line-height: 1.625rem;
  }

  h2 {
    @extend %pix-title-xs;

    margin-bottom: var(--pix-spacing-2x);
  }

  .pix-block {
    padding: var(--pix-spacing-3x) var(--pix-spacing-4x);
  }

  &__complementary-certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    text-align: center;

    img {
      width: 190px;
      height: 190px;
    }

    span {
      @extend %pix-body-s;

      margin-top: 10px;
    }
  }

  &__jury {
    margin-bottom: var(--pix-spacing-8x);
    padding: var(--pix-spacing-3x) var(--pix-spacing-6x);

    &__info {
      font-size: 0.75rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    &__comment {
      @extend %pix-body-s;
    }

    p {
      @extend %pix-body-s;

      line-height: 1.375rem;
    }
  }

  @include breakpoints.device-is('mobile') {
    min-width: 100%;
    padding: var(--pix-spacing-4x);
  }

  @include breakpoints.device-is('tablet') {
    min-width: 100%;
  }

  @include breakpoints.device-is('desktop') {
    min-width: 30%;
    margin-left: var(--pix-spacing-5x);
  }

  &__container {
    margin-bottom: 32px;
    padding: var(--pix-spacing-3x) var(--pix-spacing-6x);

    @include breakpoints.device-is('mobile') {
      padding: var(--pix-spacing-4x);
    }
  }
}
