@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.user-certifications-page-get__header {
  display: flex;
  margin-bottom: 32px;
  padding: 14px 24px;

  @include breakpoints.device-is('mobile') {
    .pix-block {
      padding: 16px;
    }
  }
}

.user-certifications-detail-header {
  display: flex;
  flex-direction: row;
  padding: 32px 0;

  @extend %pix-body-m;

  &__info-certificate {
    align-self: center;
    color: var(--pix-neutral-800);

    & > * {
      margin: 0;
      font-size: 1rem;
    }

    h1 {
      @extend %pix-title-m;
    }

    p:nth-child(4) {
      font-weight: bold;
    }

    &--grey {
      color: var(--pix-neutral-500);
      font-size: 0.875rem;
      line-height: 23px;

      &:nth-child(2) {
        margin-top: 10px;
      }

      &:nth-child(3) {
        margin-bottom: 10px;
      }
    }

    &--professionalizing-warning {
      padding-top: 12px;
      color: var(--pix-neutral-500);
      font-size: 0.875rem;
      line-height: 23px;
    }
  }

  @include breakpoints.device-is('mobile') {
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
  }

  @include breakpoints.device-is('tablet') {
    flex-wrap: wrap;
  }

  @include breakpoints.device-is('desktop') {
    flex-wrap: nowrap;
  }
}

.attestation-and-verification-code {
  max-width: 100%;
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  background-color: var(--pix-neutral-20);
  border-radius: 8px;

  @include breakpoints.device-is('desktop') {
    max-width: calc(var(--pix-spacing-12x) * 6);
  }

  .attestation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--pix-spacing-6x);
    text-align: center;

    &__error-message {
      @extend %pix-body-s;

      margin-top: var(--pix-spacing-4x);
      color: var(--pix-error-500);
    }
  }

  .verification-code {
    margin: auto;
    color: var(--pix-neutral-900);
    letter-spacing: 0;

    @extend %pix-body-m;

    &__title {
      display: flex;
      padding: 0 0 var(--pix-spacing-2x) 0;
    }

    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      background-color: var(--pix-neutral-20);
      border: 1.5px var(--pix-neutral-100) dashed;
      border-radius: 4px;

      .verification-code__code {
        margin: 0 var(--pix-spacing-2x) 0 0;
        padding: 0;
        font-weight: bold;
        font-size: 1.25rem;
        letter-spacing: 0.3px;
      }

      .verification-code__copy-button {
        padding: 0;
        color: var(--pix-primary-500);
        font-size: 1.25rem;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          color: var(--pix-primary-700);
        }
      }
    }

    &__informations {
      margin: var(--pix-spacing-2x) 0 0 0;
      font-size: 0.8125rem;
      line-height: 20px;
    }
  }

  @include breakpoints.device-is('tablet') {
    flex-grow: 1;
    margin-left: 0;
  }

  @include breakpoints.device-is('desktop') {
    flex-grow: 0;
    margin-left: auto;
  }
}
