@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.user-certifications-detail-competences-list {
  flex-grow: 1;

  h2 {
    @extend %pix-title-xs;

    margin-bottom: 8px;

    span {
      font-size: 0.75rem;
    }
  }
}
