@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/colors';

.campaign-tutorial {
  display: flex;
  width: 100%;
  height: 100vh;
  background: colors.$pix-secondary-app-gradient;

  &__container {
    max-width: 800px;
    min-height: 600px;
    margin: auto;
    padding: 30px 40px;

    @include breakpoints.device-is('tablet') {
      width: 800px;
      min-height: 600px;
      padding: 30px 10px;
      padding-top: 85px;
    }
  }

  &__title {
    @extend %pix-title-xs;

    color: var(--pix-primary-500);
    line-height: 40px;
    text-align: center;

    @include breakpoints.device-is('tablet') {
      font-size: 1.875rem;
    }
  }

  &__explanation-icon {
    margin: 40px;
    text-align: center;

    img {
      width: 160px;
      height: 160px;
    }
  }

  &__explanation-text {
    @extend %pix-body-l;

    color: var(--pix-neutral-900);
    white-space: pre-line;
    text-align: center;

    @include breakpoints.device-is('tablet') {
      font-size: 1.25rem;
    }
  }

  &__paging {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;

    @include breakpoints.device-is('tablet') {
      margin-top: 15px;
    }

    .dot {
      display: block;
      width: 10px;
      height: 10px;
      margin: 2px;
      background-color: var(--pix-neutral-100);
      border-radius: 50%;
    }

    li[aria-current='step'] .dot {
      background-color: var(--pix-primary-500);
    }
  }

  &__next-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  &__start-campaign-button {
    margin: auto auto 50px;
  }

  &__buttons {
    width: 180px;
    margin-top: 10px;
  }
}
