@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.course-error-page__start__image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 25px;

  @include breakpoints.device-is('tablet') {
    flex-direction: row;
  }
}

.course-error-page__image {
  height: 70px;
}

.course-error-page__pix-logo .course-error-page__marianne-logo {
  flex-direction: row;
}

.course-error-page__error-text {
  @extend %pix-body-m;

  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .title {
    font-size: 1.375rem;
    text-align: center;
  }
}

.course-error-page__error-button {
  margin: auto;
}
