@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.fill-in-participant-external-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--pix-spacing-3x);

  @include breakpoints.device-is('tablet') {
    margin-bottom: var(--pix-spacing-6x);
    padding-top: var(--pix-spacing-12x);
    padding-bottom: var(--pix-spacing-12x);
  }

  &__title {
    @extend %pix-title-l;
  }

  &__announcement {
    @extend %pix-body-l;

    margin-bottom: var(--pix-spacing-10x);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 30%;
  }

  &__help {
    margin-top: var(--pix-spacing-8x);
  }

  &__buttonbar {
    display: flex;
    flex-direction: row;
    gap: var(--pix-spacing-2x);
    justify-content: space-between;
    margin-top: var(--pix-spacing-12x);
  }
}
