@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.fill-in-campaign-code {
  &__container {
    margin-top: var(--pix-spacing-6x);
  }

  &__title {
    margin-bottom: var(--pix-spacing-8x);
    text-align: center;

    @extend %pix-title-m;
  }

  &__instruction {
    max-width: fit-content;
    margin-bottom: var(--pix-spacing-4x);
    text-align: center;

    @extend %pix-body-l;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    align-items: center;
  }

  &__warning {
    margin-top: var(--pix-spacing-4x);
    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    font-size: 0.875rem;
    text-align: center;
  }
}

.mediacentre-start-campaign-modal__action-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

.mediacentre-start-campaign-modal-action-buttons__continue-action {
  @extend %pix-body-s;

  color: var(--pix-primary-500);
}
