@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.fill-in-certificate-verification-code {
  max-width: max-content;
  margin: 0 auto 32px;
  padding: 48px 24px;
  text-align: center;

  @extend %pix-body-m;

  @include breakpoints.device-is('tablet') {
    padding: 48px 60px;
  }

  &__title {
    @extend %pix-title-m;
  }

  &__description {
    max-width: 500px;
    margin: var(--pix-spacing-6x) 0;
    color: var(--pix-neutral-500);
    line-height: 22px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form__input-and-label {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 6px;
        line-height: 22px;
        letter-spacing: 0.15px;
        text-align: left;

        @extend %pix-body-s;
      }

      input {
        width: 15.3ch;
      }

      @media all and (-ms-high-contrast: none) {
        input {
          width: 17.4ch;
        }
      }
    }

    .form__actions {
      margin: var(--pix-spacing-6x) 0;
    }

    .form__error--validation {
      color: var(--pix-error-700);

      @extend %pix-body-s;
    }
  }
}
