@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.fill-in-certificate-verification-code {
  width: 75%;
  margin: 0 auto var(--pix-spacing-8x);
  padding: var(--pix-spacing-12x) var(--pix-spacing-6x);

  @extend %pix-body-m;

  @include breakpoints.device-is('tablet') {
    padding: var(--pix-spacing-12x) 60px;
  }

  &__title {
    text-align: center;

    @extend %pix-title-m;
  }

  &__description {
    margin: var(--pix-spacing-6x) 0;
    color: var(--pix-neutral-500);
    line-height: 1.375rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form__actions {
      margin: var(--pix-spacing-6x) 0;
    }
  }
}
