@use 'pix-design-tokens/colors';

.fill-in-certificate-verification-code__form {
  margin-bottom: var(--pix-spacing-12x);
  text-align: center;

  input {
    background-color: var(--pix-neutral-0);

    @media (max-width: 25rem) {
      height: 14vw;
      font-size: 8vw;
    }
  }

  [type="submit"] {
    display: inline-flex;
    margin-top: var(--pix-spacing-4x);
  }
}
