@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.fill-in-campaign-code {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
    padding: 16px 16px var(--pix-spacing-4x);

    @include breakpoints.device-is('tablet') {
      padding: var(--pix-spacing-10x);
    }
  }

  &__title {
    margin-bottom: var(--pix-spacing-8x);
    font-size: 2rem;
    text-align: center;
  }

  &__instruction {
    max-width: 600px;
    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    font-size: 1.219rem;
    font-family: fonts.$font-open-sans;
    text-align: center;

    @include breakpoints.device-is('tablet') {
      width: 75vw;
    }

    @include breakpoints.device-is('mobile') {
      width: 75vw;
    }
  }

  &__form-field {
    display: inline-block;
    margin-bottom: var(--pix-spacing-4x);
    text-align: left;

    input {
      width: 13.6ch;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--pix-spacing-4x);
  }

  &__error {
    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-warning-700);
    font-size: 0.875rem;
    text-align: center;
  }

  &__warning {
    margin-top: var(--pix-spacing-4x);
    margin-bottom: var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    font-size: 0.875rem;
    text-align: center;
  }

  &__explanation {
    max-width: 600px;
    padding-top: 25px;
    text-align: center;
    border-top: 1px solid var(--pix-neutral-20);

    @include breakpoints.device-is('tablet') {
      width: 75vw;
    }

    @include breakpoints.device-is('mobile') {
      width: 75vw;
    }
  }
}

.mediacentre-start-campaign-modal__action-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

.mediacentre-start-campaign-modal-action-buttons__continue-action {
  @extend %pix-body-s;

  color: var(--pix-primary-500);
}
