@use 'pix-design-tokens/typography';

.modulix {
  @extend %pix-body-l;

  --modulix-max-content-width: 820px;
  --modulix-radius-xs: 4px;
  --modulix-radius-s: 8px;
  --modulix-radius: 16px;
  --modulix-radius-l: 24px;
  --modulix-z-index-above-all: 10;

  flex-grow: 1;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--pix-neutral-900);
  background: var(--pix-neutral-0);
}

.modulix-beta-banner {
  --modulix-z-index-above-all: 10;

  z-index: var(--modulix-z-index-above-all);
}
