@use 'pix-design-tokens/breakpoints';

.personal-information-item {
  display: flex;
  align-content: flex-start;
  padding: var(--pix-spacing-4x) 0;
  border-bottom: var(--pix-neutral-20) 1px solid;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__label {
    display: flex;
    align-items: center;
    min-width: 200px;
    margin: 0;
  }

  &__value {
    margin: 0;
    color: var(--pix-neutral-500);
  }

  &__select {
    width: 165px;
    margin: 0;
    color: var(--pix-neutral-100);
  }
}

@include breakpoints.device-is('mobile') {
  .personal-information {
    padding: 0;
  }

  .personal-information-item {
    flex-direction: column;
    padding-left: 10px;

    &__label {
      padding-bottom: 10px;
    }
  }
}
