@use 'pix-design-tokens/breakpoints';

.profile {

  &__panel {
    padding-top: 30px;
    padding-right: 12px;
    padding-left: 12px;
  }

  @include breakpoints.device-is('tablet') {

    &__panel {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
