@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/typography';

.profile-already-shared-retry {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dashed var(--pix-neutral-100);

  &__message {
    @extend %pix-title-xs;

    text-align: center;
  }

  &__button {
    padding: 10px;
    font-size: 0.875rem;
  }
}
