@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';
@use 'pix-design-tokens/fonts';

.send-profile-header {
  margin-top: -160px;
  margin-bottom: 32px;
  padding: 30px 10px;

  @include breakpoints.device-is('tablet') {
    padding: 32px 24px;
  }

  &__announcement {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
  }

  &__image {
    margin-top: -50px;
  }

  &__title {
    @extend %pix-title-m;

    color: var(--pix-neutral-900);
    text-align: center;
  }

  &__instruction {
    @extend %pix-body-l;

    margin: 30px;
    color: var(--pix-neutral-900);
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    background-color: var(--pix-neutral-20);
    border-radius: 6px;
  }

  &__profile {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 39px;
    padding-top: 36px;
    padding-bottom: 22px;
    border-top: 1px dashed var(--pix-neutral-100);

    &--with-border-bottom {
      border-bottom: 1px dashed var(--pix-neutral-100);
    }

    &__cards {
      width: 100%;
      margin-top: 24px;
    }
  }

  &__recipient {
    @extend %pix-title-xs;

    margin-bottom: var(--pix-spacing-2x);
    color: var(--pix-neutral-900);
  }
}

.send-profile-disabled-share {
  &__text {
    @extend %pix-title-s;

    max-width: 640px;
    margin: var(--pix-spacing-8x) auto var(--pix-spacing-6x);
    color: var(--pix-neutral-500);
    text-align: center;
  }
}
