@use "pix-design-tokens/colors";
@use "pix-design-tokens/typography";

.terms-of-service-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: colors.$pix-primary-app-gradient;
}

.terms-of-service-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 581px;
  margin: auto;
  padding: 40px 32px;
  background: var(--pix-neutral-0);
  border-radius: 8px;

  &__logo {
    margin-bottom: 24px;

    & img {
      display: flex;
      height: 75px;
      margin: auto;
    }
  }

  &__title {
    @extend %pix-title-m;

    margin-bottom: 8px;
    text-align: center;
  }

  &__description {
    @extend %pix-body-m;

    margin-bottom: 40px;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}

.terms-of-service-form-conditions {
  &__validation-error {
    margin-top: 16px;
    color: var(--pix-error-500);
    font-weight: normal;
  }
}

.terms-of-service-form-actions {
  &__submit {
    margin-left: 10px;
  }
}
