@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';

.user-certifications-page__container {
  padding: 0 10px;

  @include breakpoints.device-is('desktop') {
    justify-content: flex-start;
    padding: 0;
  }
}

.user-certifications-page__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  color: var(--pix-neutral-800);
  font-weight: var(--pix-font-medium);
  font-size: 1.75rem;
  font-family: fonts.$font-open-sans;
  line-height: 33px;

  @include breakpoints.device-is('desktop') {
    justify-content: flex-start;
  }
}
