@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.user-tutorials-banner__filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pix-spacing-4x);
  align-items: center;
  min-height: 2.8125rem;
  padding-bottom: var(--pix-spacing-8x);
}

.user-tutorials-content {
  display: flex;
  flex-direction: column;

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: var(--pix-spacing-8x);
    row-gap: var(--pix-spacing-4x);

    @include breakpoints.device-is('desktop') {
      grid-template-columns: 1fr 1fr;
      column-gap: var(--pix-spacing-6x);
    }
  }

  &__saved-empty,
  &__recommended-empty {
    padding: 6rem 0;
    text-align: center;

    @include breakpoints.device-is('desktop') {
      display: flex;
      flex-direction: row-reverse;
      gap: 100px;
      align-items: center;
      text-align: left;

      & > div {
        flex-grow: 1;
      }
    }
  }
}

.user-tutorials-saved-empty,
.user-tutorials-recommended-empty {
  &__title {
    @extend %pix-title-s;

    margin-top: var(--pix-spacing-6x);
    color: var(--pix-neutral-900);

    @include breakpoints.device-is('desktop') {
      margin-top: 0;
    }
  }

  &__description {
    @extend %pix-body-m;

    margin: 1em 0;
  }

  &__link {
    display: inline-flex;
  }
}
