@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';

.user-tests__header {
  padding-top: 0;
}

.user-tests-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
  height: 270px;
  margin: auto auto 16px;
  padding: 0 20px;
  font-family: fonts.$font-roboto;
  text-align: center;

  @include breakpoints.device-is('tablet') {
    text-align: left;
  }

  @include breakpoints.device-is('desktop') {
    padding: 0;
  }

  &__icon {
    display: none;

    @include breakpoints.device-is('tablet') {
      position: absolute;
      right: 50px;
      bottom: 0;
      display: block;
    }

    @include breakpoints.device-is('desktop') {
      right: 70px;
    }
  }

  &__title {
    width: 100%;
    margin: 0 0 8px;
    color: var(--pix-neutral-0);
    font-weight: 300;
    font-size: 3rem;
  }
}

.user-tests-main {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 0 20px;
  font-family: fonts.$font-roboto;

  @include breakpoints.device-is('desktop') {
    padding: 0;
  }
}
