@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/typography';

.user-trainings-banner {
  margin: 0 var(--pix-spacing-6x);
  padding-bottom: var(--pix-spacing-4x);

  @include breakpoints.device-is('desktop') {
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--pix-spacing-4x) 20px;
  }

  &__title {
    @extend %pix-title-m;

    color: var(--pix-neutral-900);
  }

  &__description {
    @extend %pix-body-m;

    margin: 0;
    padding: var(--pix-spacing-2x) 0;
    color: var(--pix-neutral-500);
  }
}

.user-trainings-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--pix-spacing-6x) 20px 0;
  color: var(--pix-neutral-900);

  @include breakpoints.device-is('tablet') {
    padding: 40px 0 0;
  }

  &__title {
    margin: 0 0 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pix-spacing-6x);
    margin-bottom: var(--pix-spacing-8x);
    list-style: none;
  }
}

.user-trainings-content-list {
  &__item {
    flex-basis: 100%;

    @include breakpoints.device-is('desktop') {
      flex-basis: 30%;
    }

    &:hover {
      border-radius: var(--pix-spacing-2x);
      box-shadow: 0 7px 14px 0 var(--pix-neutral-100),
      0 3px 6px 0 var(--pix-neutral-500);
    }
  }
}
