@use 'pix-design-tokens/breakpoints';

.user-certifications-page-get {
  position: relative;

  &__details-body {
    display: flex;
    width: 100%;
    margin-top: var(--pix-spacing-8x);
  }

  h2 {
    color: var(--pix-neutral-900);
  }

  &__note {
    max-width: 980px;
    color: var(--pix-neutral-500);
    font-size: 0.875rem;
    line-height: 22px;
    letter-spacing: 0.15px;
  }
}

.user-certifications-page {

  &__previous-button {
    width: fit-content;
    margin-top: var(--pix-spacing-10x);
    margin-bottom: var(--pix-spacing-3x);
  }
}

@mixin contentInColumn() {

  .user-certifications-page-get {

    &__header {
      flex-direction: column;
    }

    &__details-body {
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
  }
}

@mixin contentInRow() {

  .user-certifications-page-get {

    &__header {
      flex-direction: row;
    }

    &__details-body {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}

@include breakpoints.device-is('mobile') {
  @include contentInColumn;
}

@include breakpoints.device-is('tablet') {
  @include contentInColumn;
}

@include breakpoints.device-is('desktop') {
  @include contentInRow;
}
