/* stylelint-disable selector-class-pattern */
.btn-refresh-cache {
  svg {
    margin-right: 6px;
  }
}

.tools__create-tag-form {
  display: flex;
  gap: 12px;
  align-items: flex-end;

  input {
    max-width: 300px;
  }

  button {
    max-height: 36px;
  }
}

.tools {
  &__warning {
    margin-bottom: var(--pix-spacing-4x);
  }

  &__info {
    margin-bottom: var(--pix-spacing-4x);
  }

  .pix-button {
    display: inline-flex;
  }
}
