@use 'pix-design-tokens/typography';

.certification-issue-report {
  display: flex;
  align-items: center;
  border-bottom: var(--pix-neutral-15) solid 1px;

  &__resolution-status {
    height: 2rem;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    width: 2rem;

    &--resolved {
      fill: var(--pix-success-700);
    }

    &--unresolved {
      fill: var(--pix-error-700);
    }
  }

  &__details {
    margin-left: 16px;

    &__label {
      color: var(--pix-neutral-500);
      font-weight: var(--pix-font-medium);
      @extend %pix-body-s;
    }

    &__resolution-message {
      color: var(--pix-neutral-100);
      @extend %pix-body-s;
    }
  }
}
