@use 'pix-design-tokens/typography';

.competences-col {
  &__name {
    @extend %pix-title-xs;

    position: relative;
    padding-left: 1rem;
    color: var(--pix-neutral-800);
    font-size: 0.875rem;
  }

  &__gauge {
    padding-top: 16px;
    padding-right: 32px;
  }

  &__border {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-width: 2px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 2px;

    &--jaffa {
      border-color: var(--pix-information-light);
    }

    &--emerald {
      border-color: var(--pix-content-light);
    }

    &--cerulean {
      border-color: var(--pix-communication-light);
    }

    &--wild-strawberry {
      border-color: var(--pix-security-light);
    }

    &--butterfly-bush {
      border-color: var(--pix-environment-light);
    }

    &--open {
      display: block;
    }
  }
}
