.table {
  margin-bottom: var(--pix-spacing-4x);

  &__link-cell {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    word-break: break-all;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    margin: 0;
    text-align: center;
    border-top: 1px solid var(--pix-neutral-20);
  }
}
