{{page-title (t "pages.sign-in.title")}}

<AuthenticationLayout class="signin-page-layout">
  <:header>
    <PixButtonLink @variant="secondary" @route="inscription">
      {{t "pages.authentication.login.signup-button"}}
    </PixButtonLink>
  </:header>

  <:content>
    <h1 class="pix-title-m">{{t "pages.sign-in.first-title"}}</h1>
    <Authentication::LoginForm />
    <Authentication::OtherAuthenticationProviders />
  </:content>
</AuthenticationLayout>