@use 'pix-design-tokens/typography';

body {
  margin: 0;
  background-color: var(--pix-neutral-20);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  @extend %pix-title-s;
}

h1 {
  margin-bottom: 0;
}

input:invalid {
  box-shadow: none;
}

abbr {
  cursor: help;

  &.mandatory-mark {
    display: contents;
    margin: 1.25rem;
    color: var(--pix-error-700);
    text-decoration: none;
  }
}

a:not(.pix-button, .login-form__oidc-connect-link) {
  color: var(--pix-tertiary-500);
  text-decoration: underline;

  &:visited {
    color: var(--pix-primary-500);
  }
}

a.pix-button {
  &:hover {
    color: var(--pix-neutral-0);
    text-decoration: none;
  }
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
}

.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.gap-4x {
    gap: var(--pix-spacing-4x);
  }
}
