/* stylelint-disable selector-class-pattern */
@use 'pix-design-tokens/typography';

.page {
  header, .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--pix-spacing-2x) 20px;
    padding-bottom: var(--pix-spacing-6x);
    border-bottom: 1px solid var(--pix-neutral-100);

    .page-actions {
      display: flex;
      gap: 1rem;
      align-items: center;

      &__link {
        display: flex;
        gap: var(--pix-spacing-1x);
        align-items: center;
        font-size: 0.875rem;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .page-body {
    inset: 60px 0 0 80px;
    padding: var(--pix-spacing-2x);

    .page-section {
      margin-bottom: 10px;
      padding: var(--pix-spacing-6x) var(--pix-spacing-4x);
      background: var(--pix-neutral-0);
      border-radius: 5px;

      &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      h2, &__title {
        @extend %pix-title-xs;

        word-break: break-all;

        &--sub {
          margin-bottom: var(--pix-spacing-4x);
        }
      }

      &__content {
        margin-bottom: 10px;
      }
    }
  }

  .page-body-template {
    padding: var(--pix-spacing-6x) var(--pix-spacing-4x);

    &__content {
      margin-bottom: var(--pix-spacing-8x);
    }
  }
}

section.no-background {
  padding: 0;
  background-color:transparent;
}
