/* stylelint-disable selector-class-pattern */
@use 'pix-design-tokens/typography';

.page {
  header, .page-header {
    top: 0;
    right: 0;
    left: 80px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    margin: 0;
    padding: 6px 20px;
    background: var(--pix-neutral-0);
    border-bottom: 1px solid var(--pix-neutral-20);

    .page-actions {
      display: flex;
      gap: 1rem;
      align-items: center;

      &__link {
        display: flex;
        gap: var(--pix-spacing-1x);
        align-items: center;
        font-size: 0.875rem;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .page-body {
    inset: 60px 0 0 80px;
    padding: 10px;

    .page-section {
      margin-bottom: 10px;
      padding: 32px;
      background: var(--pix-neutral-0);
      border-radius: 5px;

      &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      h2, &__title {
        @extend %pix-title-xs;

        word-break: break-all;

        &--sub {
          margin-bottom: var(--pix-spacing-4x);
        }
      }

      &__content {
        margin-bottom: 10px;
      }
    }
  }

  .page-body-template {
    padding: var(--pix-spacing-8x);

    &__content {
      margin-bottom: var(--pix-spacing-8x);
    }
  }
}
