/* stylelint-disable selector-class-pattern */
@use 'pix-design-tokens/typography';

.page {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--pix-spacing-6x);

    .page-actions {
      display: flex;
      gap: 1rem;
      align-items: center;

      &__link {
        display: flex;
        gap: var(--pix-spacing-1x);
        align-items: center;
        font-size: 0.875rem;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .breadcrumb {
    color: var(--pix-neutral-500);
  }

  .page-body {
    inset: 60px 0 0 80px;

    .page-section {

      &__header {
        display: flex;
        align-items: center;
        margin-top: var(--pix-spacing-6x);
        margin-bottom: 0;
        padding-top: var(--pix-spacing-3x);
        padding-bottom: var(--pix-spacing-2x);
        border-top: 1px solid var(--pix-neutral-100);
      }

      h2, &__title {
        @extend %pix-title-xs;

        word-break: break-all;

        &--sub {
          margin-bottom: var(--pix-spacing-4x);
        }
      }

      &__content {
        margin-bottom: 10px;
      }
    }
  }

  .page-body-template {
    padding: var(--pix-spacing-6x) var(--pix-spacing-4x);

    &__content {
      margin-bottom: var(--pix-spacing-8x);
    }
  }
}

.page-with-table {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
}

section.no-background {
  padding: 0;
  background-color:transparent;
}
