@use 'pix-design-tokens/typography';

.sidebar-footer {
  &__full-name {
    @extend %pix-body-s;

    font-weight: var(--pix-font-bold);
  }

  &__logout-button {
    display: flex;
    justify-content: center;
    text-decoration: underline;
  }
}
