name: Test Modulix content

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

defaults:
  run:
    working-directory: api

jobs:
  test-modulix-content:
    if: contains(github.event.pull_request.labels.*.name, 'contribution-modulix')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: Install dependencies
        run: npm clean-install

      - name: Run Modulix Tests
        run: npm run modulix:test

