.organization-recently-used-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pix-spacing-2x);
  margin-top: var(--pix-spacing-2x);
  padding: 0;
  list-style: none;

  &__tag {
    button {
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 0.75rem;
    }
  }
}

.organization-tags-lists-separator {
  margin: var(--pix-spacing-6x) 0;
  border: 1px solid var(--pix-neutral-20);
}

.organization-recently-used-tags-list__search-input-container {
  margin: 16px 0;
}
