.organizations-list {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  &__archived-organizations-toggle {
    display: flex;
    justify-content: flex-end;
    padding-bottom: var(--pix-spacing-4x);

    p {
      margin: 0;
    }
  }
}
