.places {
  &__resume {
    margin-bottom: var(--pix-spacing-4x);
    padding-bottom: var(--pix-spacing-4x);
    border-bottom: 3px solid var(--pix-neutral-20);
  }

  &__button {
    display: inline-flex;
    margin-top: var(--pix-spacing-4x);

    &:hover {
      color: var(--pix-neutral-0);
      text-decoration: none;
    }
  }

  &__capacity {
    width: auto;

    tr {
      height: auto;
    }

    td:first-child {
      padding: 0;
    }
  }

  &__button-icon {
    margin: 0 var(--pix-spacing-1x);
  }
}
