/* stylelint-disable selector-class-pattern */
.places__add-form {
  width: 30%;
}

.action-buttons__cancel {
  margin-right: var(--pix-spacing-2x);

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
